[2014-11-02 16:37] nukeador opened #1 "[Meta] UX redesign"
Openwapp needs a design update to:
- Present the same UI elements the official clients have and users are familiar with.
- Have a Firefox OS flavour based on the Haida guidelines (Firefox OS 2.0+)

This issue will be used to track relevant issues trying to implement these changes and as discussion.
- [x] #4 Header color and integration
- [ ] #5 Conversation view spacing
- [ ] #6 Message view spaci

[2014-11-02 17:24] deimidis opened #2 "Images never sent"
Version: 1.4.2-0-g2b3334f

I attached an image from the gallery or camera. OpenWapp tried to send it, but never could. It shows the picture with the re-try icon. Every other message work.

[2014-11-02 19:38] nukeador opened #3 "App disconnections"
Steps to reproduce:
1. Open the app
2. Go to homescreen
3. Lock the phone
4. Wait for 5 minutes.

The app gets disconnected and even if you open it and it shows "Connected" you are not able to send or receive messages.

[2014-11-02 23:08] nukeador opened #4 "Header color and integration"
Header color integration with new Firefox OS 2.0+ color scheme.

![header](https://cloud.githubusercontent.com/assets/531906/4877331/17e5b470-62e5-11e4-85fe-b69d1fa3671d.png)

[2014-11-02 23:15] nukeador opened #5 "Conversation view spacing"
Reduce the conversation view spacing by presenting the user photo on the left side and the date on the top right side (instead of a new line)

![ad79b14c-62b0-11e4-8b2d-5636bb07c67c](https://cloud.githubusercontent.com/assets/531906/4877373/010de5a0-62e6-11e4-9ec8-953fc0a1cbfe.png)

[2014-11-02 23:19] nukeador opened #6 "Message view spacing"
Individual messages are wasting too much space.

We need to integrate as much as possible all the information from an individual message inside the bubble (ticks and time)

![7589bf2a-62b0-11e4-8a96-b206136c7fff](https://cloud.githubusercontent.com/assets/531906/4877394/b1b8ebb6-62e6-11e4-8249-b5dc99b6e415.jpg)

[2014-11-02 23:25] nukeador opened #7 "Image preview improvements"
Image preview on conversation view shouldn't have the "Image" text and should be a bigger thumbnail of the actual picture inside the bubble.

[2014-11-02 23:32] nukeador opened #8 "Share activities"
As user I would like to select a file/image/audio from other app and share using Openwapp to one of my contacts or groups.

[2014-11-02 23:34] nukeador opened #9 "Mute conversations"
As user I would like to mute group notifications for a period of time.

[2014-11-02 23:35] nukeador opened #10 "Auto-download settings"
As a user I would like to define when to download multimedia files (images/videos) based on my network type (3G/Wifi)

[2014-11-02 23:40] nukeador opened #11 "App icon on notifications"
Currently app icon is broken on notifications.

[2014-11-04 10:13] nukeador opened #12 "English description at Marketplace"
Openwapp description in the marketplace is missing English.

[2014-11-05 01:08] DOMIHERNANDEZ opened #13 "Refresh OpenWapp logo based on Flat Design"
Refresh OpenWapp logo with color concepts Firefox OS, also adapting it to the color of the header of the app, and following the trend of Flat Design.....
In input mode, I made two logo similar to the above description, do not you think that the difference of the other is the color of the tick, Greetings.....
![logoopenwappgreenbl](https://cloud.githubusercontent.com/assets/9298711/4971643/41068ede

[2014-11-06 09:20] #4 closed, assigned to nobody

[2014-11-06 15:54] nukeador opened #15 "Implement blue check"
Whatsapp now supports "blue check" to confirm that someone has already read a message

https://www.whatsapp.com/faq/en/android/28000015

It would be nice to have this implemented and I would be even better if we can have a switch to enable this or not.

[2014-11-06 17:28] nukeador opened #16 "Don't load all messages"
If you open a conversation with a lot of messages it takes forever to load.

Example: 1000 messages take more than 10 seconds.

It should load X messages and then load older ones if you keep scrolling up.

[2014-11-07 16:08] DOMIHERNANDEZ opened #17 "Integrate concepts of color, typography, shapes, icons, images; based on Firefox 2.0+ OS"
The integrated concepts of color, typography, shapes, icons, images, following the guideline Haida .... based on Firefox 2.0+ OS

[2014-11-10 00:58] VictorOsorioMedrano opened #20 "Integrate the New "Box", like the apps of Firefox OS 2.0++"
Here my concept for implement "Box"

![openwapp vertical drawer](https://cloud.githubusercontent.com/assets/8153074/4969961/82522f3e-6874-11e4-93e7-eb584f1417df.png)

[2014-11-10 21:39] #12 closed, assigned to nobody

[2014-11-11 09:45] sharma14skss opened #21 "Message ticks on conversation are not correctly shown"
![2014-11-11-15-07-01](https://cloud.githubusercontent.com/assets/9606647/4991015/e3ad93b8-69b4-11e4-8640-26909398fe08.png)

mobile : intex cloud fx
os  : 1.3v

send conformation tick cannot show correctly ...its like a box...
i think its your design but in your screenshot have a tick. so this is issue or not..

[2014-11-15 18:31] #13 closed, assigned to willyaranda

[2014-11-16 01:02] Reston opened #22 "Retrieving contacts nicknames"
When i'm on a group the app always tries to retrieve the nicknames of the users that i have on my contact list, but when the app tries to do it, sometimes or let's say almost all the time it didn't retrieve the nicknames as it should do so i have to go to the group information so when i go back to the messages it then display the contacts' correct names.

[2014-11-16 20:32] nukeador opened #23 "Missing SMS for activation"
SMSs for activation are not working. Opening issue here for tracking the problem.

[2014-11-18 22:27] VictorOsorioMedrano opened #24 "Change the behavior of the button to send messages"
The send button don't work good with the keyboard, if I press the send button the keyboard it's deactivated...  I reported this before on GitLab: http://git.ovz.ca/openwapp/openwapp/issues/139

[2014-11-18 23:39] VictorOsorioMedrano opened #25 "Implement the new WhatsApp encryption system"
WhatsApp now includes an encryption system, this is a important point for implement on OpenWapp

Here the news: http://www.genbeta.com/mensajeria-instantanea/whatsapp-da-un-salto-enorme-en-seguridad-integrando-cifrado-de-punto-a-punto

[2014-11-19 11:06] Timmaks opened #26 "Block/unblock contacts"
It looks like one of my contacts is blocked. I can send a message to her but a message from her doesn't delivered at my phone.

i can red the messages send by her to a groups app

This point me to the missing functionality that whatapp has, block/unblock contacts.

is it possible that that person is block in my list at the whatsapp server? and if yes how do i solve this?

[2014-11-19 11:10] Timmaks opened #27 "Openwapp Marketplace entry in Spanish"
I got a notification to, i think, rate the openwapp app in the marketplace. But as this was in Spanish i could not read the message and i did not know what to do (also the buttons are in spanish and when i pressed one it brought me to the marketplace)

[2014-11-20 11:42] LOLLYTHECAT opened #28 "Can't update own profile image"
With OpenWapp in FirefoxOS 2.0 can't set the personal image and status, other people view the default image

[2014-11-22 23:15] duesenfranz opened #34 "Validate View not working"
If you are on the login View and click on the `goToValidateButton`, the Validate View should load.
Instead, the screen stays blank. This should be reproduceable when using the latest revision from `master`.

The reason is that `this.options` is [referenced](https://github.com/mozillahispano/openwapp/blob/520595a105f47cf4a6859849baef60638af80a1c/app/scripts/views/validate.js#L19), but appearently n

[2014-11-22 23:18] #34 closed, assigned to nobody

[2014-11-26 00:56] #23 closed, assigned to nobody

[2014-11-26 00:56] #27 closed, assigned to nobody

[2014-11-26 09:00] #26 closed, assigned to nobody

[2014-11-26 09:11] Timmaks opened #36 "rev version shows {{current version}}"
With the update today the rev version is not show anymore in the settings

[2014-11-26 13:33] maruthi12 opened #37 "not registering.."
hey i'm getting the same error even after the update.....when i feed my number, it says it is not a valid number and when i give register it says " please check connectivity settings"

[2014-11-26 14:21] #37 closed, assigned to nobody

[2014-11-26 15:37] maruthi12 opened #38 "not working after sim card"
hey! i tried even with sim card ........still  getting the same error!!!

[2014-11-26 15:48] nukeador opened #39 "Show "SIM card required" in FTU"
We need to show users that a SIM card is needed to complete the verification process. This screen should avoid going forward in the FTU.

[2014-11-26 16:07] scrooge74 opened #40 "Recibo de SMS funciona y no funciona"
Tengo dos ZTE Open C iguales (comprados en EBAY con 2 semanas de diferencia), ambos instalé la nueva versión que salió anoche, uno de ellos (que estaba funcionando con ConnectA2) envié petición de SMS esta mañana y  recibió sin problemas el SMS y está funcionando. El segudo teléfono (no le funcionaba ninguna de las aplicaciones) sigue sin poder enviar el SMS.

[2014-11-26 16:58] duesenfranz opened #41 "Use localstorage to save seed"
The app currently [saves the seed to an extra file](https://github.com/mozillahispano/openwapp/blob/982d81d8c46e8082ba51b8bcba2cdca99526a081/app/scripts/vendor/coseme-client/client.js#L46) called `.openwapp_seed`. This requires a lot of callbacks & error-handling, while it would probably be pretty easy which the localstorage api (which is also standardized).
I would like to send a pull request, bu

[2014-11-27 15:54] ghost opened #44 "Close Openwapp"
Hi, sometimes I need to close Openwapp.
Maybe in the next version you could allow us to do that?
Thanks

[2014-11-27 15:57] ghost opened #45 "Allow rotating the screen (landscape)"
Openwapp could be improved with a larger keyboard if the app allow itself to be rotated when it's indicated by the accelerometer that the device is in other position.

[2014-11-27 21:59] Otsche opened #47 "Add meaningful message for too_many error on registration"
2 months ago i downloaded openwapp first time, registered, sms came, everything ok and worked well.
last sunday the problems started, ever when i opened openwapp, i saw 2-3 seconds my friends and groups and then the registration windows pops up. i tried to re-register 1000 times but no success. i ever got the error message that there is a connecting problem. your new version 1.5 also doesnt helped

[2014-11-28 12:39] rduivenvoorde opened #49 "Not receiving msg from individuals Flame FFos2.0"
Having OpenWapp installed on my Flame (FF 2.0) here.

First test with a Whatsapp group(!) were ok: two way reception and sending.

But now individuals only receive my msg's, but I do not receive anything back.

Note: the Flame has dual sims, I only use/inserted 1 (I saw a commit msg somewhere for another app, stating "fix for dual sim problem", that's why I add this note)

[2014-11-28 12:42] #49 closed, assigned to nobody

[2014-11-28 12:54] willyaranda opened #50 "Wiki. How to debug the app (enabling coseme logs)"
Write something with the WebIDE and `coseme` things.

Related: #49

[2014-11-28 14:28] rduivenvoorde opened #51 "[wiki] How to add a new language?"
Cannot find this info in Wiki or Readme, so thought to create an issue for it :-)

My plan is to add a new language to translation.js
https://github.com/mozillahispano/openwapp/blob/master/app/scripts/localisations/translation.js
but how to do this?

Should I just copy the english object in the js file name it 'nl' and start translating?

Or is there some script to generate the js file (and adding

[2014-11-29 01:00] #41 closed, assigned to nobody

[2014-11-29 01:47] #47 closed, assigned to nobody

[2014-11-29 01:56] #45 closed, assigned to nobody

[2014-11-29 02:05] #39 closed, assigned to nobody

[2014-11-29 13:50] #44 closed, assigned to nobody

[2014-11-29 16:27] duesenfranz opened #54 "Handle Multisim / having the right sim card not inserted gracefully"
Currently, the behaviour for multisim / no sim / inserted number != sim number is pretty much broken; and I'd like to fix this :sunny:
## Current behaviour
- Multi sim

  The app simply uses the sim card in the first slot.
- No sim

  The App uses empty string as mcc and mnc, possibly breaking the code request procedure.
- User changes country

  The App continous to use the mcc and mnc it detecte

[2014-11-29 23:59] duesenfranz opened #55 "Add meaningfull message if an invalid number is inserted in registration & fix generic error message"
When the app tries to request a sms with an invalid number, whatsapp sends back
`{"status":"fail","reason":"bad_param","param":"in"}`, which we currently do not handle.

Also, the reason is not even readable, because it is out of screen:
![error](https://cloud.githubusercontent.com/assets/8686371/5236209/08d7b634-782c-11e4-80bc-f0fb149d692b.png)
Sidewards scrolling is not possible.

[2014-11-30 08:01] #51 closed, assigned to nobody

[2014-11-30 20:10] #40 closed, assigned to nobody

[2014-12-01 02:50] maruthi12 opened #57 "Sms activation........"
hey! Is the SMS actually sent by Whatsapp inc. or by OpenWapp???

[2014-12-01 09:31] #57 closed, assigned to nobody

[2014-12-01 10:35] #21 closed, assigned to nobody

[2014-12-01 10:35] #55 closed, assigned to nobody

[2014-12-02 02:07] scrooge74 opened #58 "Endless loop of connected-disconnected"
Hola, desde que entró la nueva versión 1.6  el app pasa d conectado a desconectado constantemente. Tanto en wifi como por 3G.

Estoy usando un ZTE Openc C

[2014-12-02 09:15] #36 closed, assigned to nobody

[2014-12-02 17:50] Timmaks opened #59 "groupapp page is blank"
Openwapp verdion 1.6.1 fxos 2.1 nightly on a flame

when i tap on the name of the group i go to the page with all the members etc now this page is blank.

[2014-12-02 20:58] #58 closed, assigned to nobody

[2014-12-02 20:59] #38 closed, assigned to nobody

[2014-12-03 15:32] scrooge74 opened #60 "No puedo crear grupo - Can't creat group"
En versión actual 1.6.1 no puedo crear un grupo nuevo.

Estoy usando un ZTE Open C con FirefoxOS 1.3

[2014-12-03 22:17] duesenfranz opened #61 "Requesting the code per sms fails for certain numbers with the no_routes error"
Because this bug developed into being out of scope of #47, I decided to open a new issue on behalf of @Otsche / @Shadow1g. I'm running out of ideas :sunny:

Description
---------------

CoSeMe sms request fails for certain numbers with the error code ``no_routes``. The full error code is
``{"status":"fail","reason":"no_routes","retry_after":3600}``. Only few numbers seem to be affected, switching

[2014-12-11 16:55] scrooge74 opened #66 "Opening Groups slow"
Opening groups to which I already belong is always a pain, first it takes a few seconds (over 5 most of the time), then no names unless I go to openwapp main screen then back in. If I switch to another group slow again, back to previous group slow opening again.

Dosen't matter if there are no more apps open, or after a fresh reboot, or cold boot, or after several hours, always same behaviour.

Ru

[2014-12-14 15:28] Timmaks opened #67 "size of attachment"
Some one send me some video's and i saved them on my phone. Now i want to send them to someone else but i am not allowed because the filesize is to big.

That is not ok because i got them by whatsapp so the filesize is not to big for whatsapp.

[2014-12-15 14:17] LOLLYTHECAT opened #68 "Can't delete the chronology"
I can't delete the chronology with a contact history reappears after a while...

FFOS 2.0

[2014-12-16 16:26] mansoorkdp opened #69 "Unable to register with a presently whatsapp using mobile number (migration from other phone to Fire fox os"
I used to have a android device samsung mobile phone and i used to have whatsapp on my mobile number and once i lost the sim and now when i try to register this mobile number is not getting registered please help

[2014-12-20 12:53] maruthi12 opened #71 "Implementation of voice call message activation"
hey guys.......i tried to register using sms for more than 10 times....and i 'm fed up as the code is not received.......can u add the voice code registering feature.......

[2014-12-20 16:39] #60 closed, assigned to willyaranda

[2014-12-20 16:42] #59 closed, assigned to willyaranda

[2014-12-20 16:46] #28 closed, assigned to willyaranda

[2014-12-20 22:31] #54 closed, assigned to nobody

[2014-12-22 09:04] Timmaks opened #72 "Send time instead of phonetime"
The time in bubble uses the time of the phone, but at the moment the Flame has a bug and after a system update the time is not correctly set until you enter your PIN. Result a message received while not enter the PIN yet but connected to WIFI has a different time as the messages received after entering the PIN and the message flow is not in order.

Can the send time of the message be used so the o

[2014-12-22 11:56] ChrAck opened #73 "White screen after application start up v1.7.0"
This happes at least  on ALCATEL Fire E FFOS 1.3.0.0 with Firmware: 02 004
There is no response of app anymore and consumes lot of CPU.

[2014-12-24 10:36] #73 closed, assigned to willyaranda

[2014-12-24 10:37] willyaranda opened #77 "Use l10n.js instead of a custom l10n code."
And move translations to transifex, or other site that can keep tracking of l10n changes.

This is a easy change, but big. Who wants to own it?

[2014-12-24 12:15] nukeador opened #78 "About screen"
We need an about page with licence information, where to report issues and also to show appreciation to contributors.

[2014-12-25 02:57] MARUTHIADITHYA opened #79 "Unable to download video/picture"
Finally i got Openwapp working in my phone....but now i am not able to download the pictures and videos sent.

[2014-12-28 15:16] rubenmedios opened #80 "No puede registrar ni enviar el sms"
Miren lo que me ha sucedido hoy cuando intente despues de probar con todas las demás apps para whatsapp, les dejo las capturas aqui http://i.imgur.com/ZMx9e03.jpg esta es una de las mejores por su sencillez e integracion con el sistema y es rapida y eficiente pero ya no se puede conectar desde esta ni las otras dos apps

[2014-12-29 19:10] SantiagoGutierrez opened #81 "OpenWapp"
Agradezco su atención el móvil que tengo lo compre hace poco en movistar Colombia pero no me llega el mensaje con el código que hago ? Va a servir alguna vez ¿?

[2014-12-29 20:12] #81 closed, assigned to nobody

[2014-12-30 10:34] #80 closed, assigned to nobody

[2014-12-31 04:36] 1984mx opened #82 "dont receive text messages"
only receive images, videos or audio calls.

dont receive text messages.

please check.

[2014-12-31 07:59] #82 closed, assigned to nobody

[2015-01-01 08:40] Timmaks commented on #77
Taking together with @rduivenvoorde

[2015-01-01 14:54] holztest08 commented on #47
Hi,
I have the same problem with my Flame (2.1) and the latest OpenWapp version:
"No cell routes for sending sms caused by your operator. Please try again later or contact OpenWapp developers"
I've tried it with both SIMs, mobile connections and wifi.
When I try to send curl with my phone number I get:
{"status":"fail","reason":"no_routes","retry_after":3600}
Any suggestions?

[2015-01-01 16:06] duesenfranz commented on #47
@holztest08
Unfortunately, thats a bug (#61) which we have yet to solve.

[2015-01-01 21:29] GaboLuque commented on #61
Hace unos días obtuve un código de whatsapp emulando android. Al colocar el código en Openwapp obtuve este mensaje:
![2014-12-31-13-12-20](https://cloud.githubusercontent.com/assets/7518032/5593329/7ea50d70-91d7-11e4-9a05-cc310c66db42.png)

[2015-01-01 21:31] willyaranda commented on #61
Las contraseñas son diferentes entre Android y OpenWapp. El PIN no puede funcionar.

Un saludo

[2015-01-02 07:52] shuvangi commented on #69
Ok i ll try my best to unblock myself thanks for helpng me out, i ll let u know whatever happens  n yes happy new year to u and ua family as well

[2015-01-02 12:37] rduivenvoorde commented on #61
I have this problem also with a dutch reseller provider (HEMA) working with KPN network.
running latest version of today (2 jan 2015, where can I find a version number?)

To check if it was provider/SIM related, I inserted this same SIM in another (android) phone with official Whatsapp client, and succeeded in 'normal' registration there.
Hoping that I won a 'ok'-flag somewhere on WA servers, I we

[2015-01-02 23:18] andriumota opened #83 "Download videos issue in large groups"
Downloading videos in medium and large groups (Around 7 partipants and more than 100 messages) always result in white screen error. The application crashes.
I think this issue is related with #66 and #22

ZTE OPEN FOS 2.0

[2015-01-02 23:30] duesenfranz commented on #72
Does this bug still exist? In which version of FFOS?

[2015-01-03 06:01] totolatotla13 commented on #61
hola, buenas noches, openwapp dejo de funcionar, me pide un codigo.

solicito el codigo y no lo recibo en la pantalla me aparece un mensaje diciendo que no hay rutas
para enviar el mensaje a su operador. pruebe tarde, o cpntacte con los desarrolladores de openwapp.

soy de mexico mi numero de celular es +523317771617
mi operador de telefonia es telefonica movistar.

agradecere su ayuda.

arnoldo g

[2015-01-03 07:51] Timmaks commented on #72
It was noted on ffos 2.1 but i think this is not something tied to a ffos version.

[2015-01-03 09:38] Timmaks opened #84 "Running in simulator result in white screen"
Steps

-clone git rep
-sudo npm install
-sudo gem install bundler && bundle install
-bower install
-grunt
-open webIDE
-open packege app
-point to openwapp/dist/
-start simulator
-push openwapp to simulator

result
-simulator ask for permissions, Allow
-white screen

log
10:35:27.436 "[background service] Started" background-service.js:26
10:35:27.667 "[background service] Next awake signal with i

[2015-01-03 12:22] duesenfranz commented on #84
Thanks for the report, can reproduce with FFOS 2.0.

Just a Tipp: The simulator sometimes disregards some console logs (and error messages), caused by the debugger starting too late. This can be resolved by
* Starting the app
* Pressing the debugger button
* Restarting the app. The debugger is now active all the time.

Also this time, this prints ``TypeError: this.template is not a function`` at `

[2015-01-03 12:43] duesenfranz commented on #84
I *think* it works now..
@Timmaks can you check with ``git@github.com:duesenfranz/openwapp.git``? :sunny: (my bower doesn't like me :/)
@willyaranda since they only talk about *namespace functions*... Is this a bug on our- or on their end?

[2015-01-03 13:16] Timmaks commented on #84
@duesenfranz yes you have fixed it! Thanks!

how do you test the chnages you make if you can't get pasted the registration screen in the simulator?  I don't have to send messages but i want to see the different screen to check on translations etc.

[2015-01-03 13:17] #84 closed

[2015-01-03 13:24] duesenfranz commented on #84
Personally, I use a version on my phone that I build on my computer. This means I can make a change, repush, and continue usage normally.

Again, usage with fake messages is hard. However, upon loading, the app goes initally to the ``inbox`` view. There it tries to authenticate, and **if that fails**, it goes to the ``login`` view. So you could try stopping this rerouting behavour. Note that other

[2015-01-03 16:35] fjaguero commented on #5
We should use some rules for the dates to get more white space in some cases (29/12) or a better readability (Yesterday). The full hour/date is not necessary.

This can be:
- Messages in the same day (17:32)
- Messages in the week (yesterday, 2 days ago)
- Messages in previous week and same year (Jul 25)
- Messages in other year (14/12/2014)

I can start with this if we all agree.

[2015-01-04 15:58] Timmaks commented on #84
@duesenfranz thanks.  Comment out those lines is enough to do the test i want :-)

[2015-01-05 00:51] antoniobeta commented on #61
Hola, you uso firefox 1.3 y tengo el problema de que me dice que no hay rutas para enviar el mensaje. ¿Como lo soluciono?

[2015-01-05 04:37] VictorOsorioMedrano commented on #61
Tranquilos, es un bug que ya esta confirmada su solucion en la proxima version, esperen unos dias mas para que salga en forma de actualizacion y el problema quede solucionado ;)

[2015-01-05 08:44] antoniobeta commented on #61
Ok, muchisimas gracias.
Pd. También me pasa con las otras apps, por si os sirve de ago.

[2015-01-05 10:28] holztest08 commented on #61
Is there a new way to request the code via curl?

[2015-01-05 14:22] nukeador commented on #5
@fjaguero sounds good, it's what other apps do. Go for it!

[2015-01-05 15:41] Timmaks commented on #77
I have trouble with finding the way to use l10n.js together with handlebars (hbs template). have anyone a solution for this?

[2015-01-06 00:53] fjaguero commented on #5
Awesome

[2015-01-06 18:57] duesenfranz commented on #77
@Timmaks I'm pretty shure you have to adapt [this function](https://github.com/mozillahispano/openwapp/blob/f479108c59f30ad09133206ef0c1628ced9b0109/app/scripts/templates/helpers.js#L84-L86)

As far as I understood it, all the helpers exported here can be used within the templates as ``{{$helper_name '$argument1' ['$argument2' etc.]}}``

[2015-01-07 10:16] Timmaks commented on #77
@duesenfranz i tried already that but my knowledge is to limited :(

@willyaranda sure but because of the way the html is pre generated bij handbar.js i don't get that to work yet so i was hoping someone had experience with this before i spend days to solve it.

I found a presentation of Fabien Cazenave on FOSDEM 2013 where he mention handlebar.js as next thing to integrate (http://kazhack.org/pub

[2015-01-09 07:59] Timmaks commented on #77
I reached out to one of the l10n drivers and contributer to the l10n.js of mozilla and he told me that the version where mdn point to is not the version that is used by FFOS anymore. If i use the version of FFOS he is happy to help me :-)

I am not sure anymore witch version i used in all the different tryings so i am going to start over  next weekend and hope i can figure it out with his help

[2015-01-10 03:15] piyushsingh600 opened #85 "unable to register"
Updating new open wapp. I am unable to register shows the error after entering mobile number. Please resolve issues.following error-
no cell routes for sending sms caused by your operator please try again later or contact with open wapp devloer.
Device name-alcatel onetouch firec
operator-vodafone
country-india
connection using sim

[2015-01-10 21:28] ccarruitero commented on #11
You are right, with app path should work.

I hope reflash my device in this days to try to catch the bug.

[2015-01-11 18:44] scrooge74 commented on #85
Same here, Panama operator Cable & Wireless

[2015-01-11 23:07] nukeador commented on #85
#69

[2015-01-11 23:07] #85 closed

[2015-01-11 23:10] nukeador commented on #61
It seems this problem only affects some users, since we have been able to register using a Spanish SIM card.

[2015-01-11 23:10] nukeador commented on #69
Let continue in #61

[2015-01-11 23:10] #69 closed

[2015-01-11 23:17] nukeador commented on #61
Can you please try to register disabling WiFi and ensuring you have a SIM card with data enabled?

[2015-01-12 03:44] Insurrectionist commented on #61
I tried that nukeador and I got the same message. I'm using a Movistar ZTE Open II.

[2015-01-12 09:00] holztest08 commented on #61
I also tried it with data enabled and two different sim cards, got the same message.
Latest version of connecta2 (0.17h) works for me.

[2015-01-12 21:47] duesenfranz commented on #61
@holztest08 Thanks! Indeed, the request that connectA2 sends seems to work:

    curl -k "https://v.whatsapp.net/v2/code?cc=49&in=16097996508&method=sms&id=s7.%C2%8D%C3%B8%C3%87xU*%2B%5D%C2%9E%C3%96%C3%8DH%C2%BA'a%05%C2%9F&token=9d1be5dd6fcf146f3469bfd1191077f4" -H "Accept: text/json" -H "User-Agent: WhatsApp/2.12.60 S40Version/14.26 Device/Nokia302" -v

(sorry @Shadow1g ;))

Note that this seems

[2015-01-12 22:05] antoniobeta commented on #61
Hola, me gustaria informar de que Conecta2 ya si funciona, por si podeis mirar como han solucionado ellos el error, como aqui es todo OPEN SOURCE.

Larga vida al OPEN!

[2015-01-12 22:11] nukeador commented on #61
@antoniobeta as far as I know connecta2 doesn't publish their source code or it's open/libre software.

[2015-01-12 22:19] duesenfranz commented on #61
Probably related [commit at yowsup](https://github.com/tgalal/yowsup/commit/1279940031d129045a17d8ba1a5aaf8863fea065)

People [report](https://github.com/tgalal/yowsup/issues/370) that it was fixed by this commit.

[2015-01-14 02:09] Mrkamilo5 opened #86 "I NEED UR HELP"
Hi, my name is Cristian, I'm from Colombia and I had a problem with my cellphone, a ZTE Open II and for those reason a had to reset the phone, time before i wanted to install this app but now appears a message like this, and i don't know what i have to do, ok, My mobile operator is Movistar Colombia and my e-mail is: kamcriz@hotmail.com or my number is +573188707853. please HELP ME I NEED USE WHAT

[2015-01-14 10:19] #86 closed

[2015-01-14 10:19] willyaranda commented on #86
Dupe of https://github.com/mozillahispano/openwapp/issues/61

[2015-01-14 14:56] antoniobeta commented on #61
@nukeador on its makerplace page its sais  Creative Commons License: CC - BY - NC -ND
so even they havent got github i supose that if you askt they for their code they should give it to you.

[2015-01-14 17:50] nukeador commented on #61
@antoniobeta That's not a open source license: No commercial - **No derivatives**.

I haven't use CC for code, so I don't know if they are obligated to disclose the code even you can't modify it.

[2015-01-14 17:52] antoniobeta commented on #61
@nukeador Sorry, I havent noticed that.

[2015-01-14 19:44] Timmaks commented on #77
Yes with a good hint of Gandalf i found the (my) problem and got it working, pull request will follow soon after @rduivenvoorde and i have converted all the files

[2015-01-14 20:44] willyaranda commented on #77
That's great! Eager to see the PR :)

(self-asigned incorrectly :( )

[2015-01-15 10:24] Artox commented on #3
just want to throw in that I am affected as well; and to get notifications on changes

[2015-01-19 10:45] bl4z3r3d commented on #61
I confirm this bug. A phone number from Brazil. Got the same error.

[2015-01-19 10:49] bl4z3r3d commented on #16
*VERY* good idea.

[2015-01-19 10:50] bl4z3r3d commented on #9
Good idea.

[2015-01-20 09:48] Timmaks commented on #72
![2015-01-12-12-23-09](https://cloud.githubusercontent.com/assets/9842548/5815013/bc893378-a091-11e4-9fd7-7f054478ffbf.png)

[2015-01-20 09:54] Timmaks commented on #11
![2015-01-17-11-33-44](https://cloud.githubusercontent.com/assets/9842548/5815073/7aa30000-a092-11e4-9dd8-0f93c3842b3a.png)
I don't know if this is related or a separate issue; i don't have a icon but also no name.

[2015-01-20 09:55] willyaranda commented on #11
Different.

On Tue, Jan 20, 2015 at 10:54 AM, T.M. van den Broek <
notifications@github.com> wrote:

--
Guillermo López Leal - @willyaranda
http://www.pijusmagnificus.com/

[2015-01-20 16:52] hectorfhurtado commented on #72
HI, I'm using FFOS v2.0  and I have the same bug

[2015-01-21 08:25] JayVii commented on #61
Loqui.IM supposedly fixed that issue in their v4 branch that will soon to be merged. However i am not able to test until they pushed it to the marketplace. Maybe their fix could also work for OW

[2015-01-21 10:37] holztest08 commented on #61
I just tested loqui v4 branch with simulator. For my phone number (germany) it doesn't work.

[2015-01-21 10:39] willyaranda commented on #61
@holztest08 I would say that Loqui does not work on the simulator unless they implement a way to select the carrier like @duesenfranz did, so they can send a correct mcc/mnc pair.

Please test it on a real phone with a valid SIM card.

[2015-01-21 11:27] xilux commented on #61
Same problem here with my new Alcatel oneTouch Fire E and a Congstar SIM. I already have the app running on my old OneTouch Fire. But on the new phone with the same SIM I get the message in German. Translated: 'Not able to connect to send a SMS (text-message). Please try later.'

[2015-01-21 11:41] aroblu94 opened #87 ""Authorized" by Whatsapp"
Is OpenWapp "authorized" by Whatsapp?
I saw Whatsapp is banning people who use unofficial clients. Will this affects OpenWapp users?

[2015-01-21 11:42] willyaranda commented on #87
Of course we are not.

[2015-01-21 11:42] #87 closed

[2015-01-21 11:45] SunboX commented on #61
Same for me with Congstar SIM on my new (used) Nexus 4 running Firefox OS 2.2.

[2015-01-21 11:46] willyaranda commented on #61
Locking. We know that we have problems with every carrier.

[2015-01-22 18:32] timothymctim commented on #72
I have this issue too.  `meta.date` should be replaced by the date of the received message.  It's also a problem if OpenWapp receives a bunch of new messages when it's again on-line after being off-line for a while.

Although I'm quite sure WhatsApp includes a timestamp of the received message, I didn't find any code related to this in Coseme (actually, I didn't even find the code that processes r

[2015-01-22 18:42] timothymctim commented on #25
It seems nobody has started to work on this.  Am I right?

[2015-01-22 21:27] duesenfranz commented on #25
@timothymctim
I started, but didn't upload anything so far...
I think I will push this weekend... if you want to help, I can try earlier :)

[2015-01-23 09:56] timothymctim commented on #25
@duesenfranz thank you for your reply.  It's good to know someone is still working on it :smiley:
I'm not sure whether I could help, since I don't know anything of the WA protocol, nor the CoSeMe code, moreover I can only spend limited time on this.  But, if you have a specific problem, I could dive into it.

[2015-01-26 13:12] inpu opened #88 "No cell routes for sending sms caused by your operator"
This message i can see when trying to Sign-up. I already have used OpenWapp on Mozilla Flame. Now i just reinstall app and can not Signup.
And one more bug, when i choose country, i select Russian Federation and there posted code +79, but Russian Federation country code is +7, but not +79.
See here: http://en.wikipedia.org/wiki/Telephone_numbers_in_Russia
This was earlier too, but it works fine. A

[2015-01-26 14:35] willyaranda commented on #88
duplicate of #61

[2015-01-26 14:35] #88 closed

[2015-01-26 14:37] willyaranda opened #89 "Prefix is not correct for Russia"
And one more bug, when i choose country, i select Russian Federation and there posted code +79, but Russian Federation country code is +7, but not +79.
See here: http://en.wikipedia.org/wiki/Telephone_numbers_in_Russia

On #88 by @inpu

[2015-01-26 16:45] duesenfranz commented on #89
The error is in [countries.json](https://github.com/mozillahispano/openwapp/blob/f479108c59f30ad09133206ef0c1628ced9b0109/app/scripts/countries.json#L746), as expected. It also exists upstream, in [countries.csv](https://github.com/musalbas/mcc-mnc-table/blob/76f514a118e313cfa4748463add04101bda6bba6/mcc-mnc-table.csv#L1076), who have it from [mcc-mnc.com](http://mcc-mnc.com/). I called them and th

[2015-01-26 16:46] willyaranda commented on #89
@duesenfranz yes, please.

[2015-01-26 16:49] #89 closed

[2015-01-26 17:12] duesenfranz commented on #89
@inpu thanks for the report!

[2015-01-27 18:00] Timmaks commented on #25
WhatsAPI committed a workaround : https://github.com/mgp25/WhatsAPI-Official/commit/4576f4c9df7cc0f36053be94524ae5261490d22f

[2015-01-28 01:39] VictorOsorioMedrano commented on #11
Maybe this can help: https://hacks.mozilla.org/2013/07/dont-miss-out-on-the-real-time-fun-use-firefox-os-push-notifications/

[2015-01-28 08:50] willyaranda commented on #11
@VictorOsorioMedrano nope, that's another story

[2015-01-28 18:46] inpu commented on #88
After update all my problems are gone! Thanks a lot ;)

[2015-01-28 18:47] willyaranda commented on #61
1.7.3 fixed this. Closing and unlocking.

[2015-01-28 18:47] #61 closed

[2015-01-28 19:13] xilux commented on #61
tested ok
Works fine now

Thank you

[2015-01-28 19:15] antoniobeta commented on #61
Testing on a ZTE Open C with an Spanish number, I got the code and the app works perfectly.
Thanks to the developers!

[2015-01-28 20:21] SunboX opened #90 "missing notification icon"
![2015-01-28-20-56-11](https://cloud.githubusercontent.com/assets/83344/5946088/7b3d47f8-a733-11e4-95fe-e5907885384a.png)

[2015-01-28 20:30] SunboX commented on #61
Same for FxOS 3.0 on Nexus 4 with German Congstar number. Thank you all, very much!

[2015-01-28 20:43] SunboX commented on #90
![2015-01-28-21-34-19](https://cloud.githubusercontent.com/assets/83344/5946521/af242b24-a736-11e4-9a8b-8ccafecb6e44.png)

[2015-01-28 22:29] willyaranda commented on #90
duplicate from #11

[2015-01-28 22:29] #90 closed

[2015-01-30 08:05] Timmaks commented on #77
----Progress report----

Making good process with the port (after a slow, trouble start).
- i adopted the template helper , https://github.com/Timmaks/openwapp/blob/master/app/scripts/templates/helpers.js so it uses l10n.js in all the templates but i also rewriting most of the templates to use l10n.js directly (i couldn't find a way to change the placeholders en input values in i.e. https://github

[2015-01-30 10:17] willyaranda commented on #77
@Timmaks can you send a PR and discuss there? thanks

[2015-01-30 12:11] Timmaks commented on #77
i wanted to do the pr when i have done all the files.

[2015-01-30 12:26] willyaranda commented on #77
you can do a PR now, continue working on your branch with my comments, and
when all is correct, squash the changes, and merge a shiny and brigt PR
with one commit

[2015-02-04 02:35] wolfmat commented on #61
hey guys. would be usefull if you write simple troubleshooting instructions  (for different devices/versions) in the top of this issue. i'm having this issue on a flame device, have been reading trhough comments and the issue and can't seem to find the solution.

having clear troubleshooting instructions would be helpfull.

thanks!

[2015-02-07 07:22] dsalewski opened #92 "Unable to complete update: return to old state possible?"
Hello NG,

since two days I've got a download/update problem with whatsapp on my Flame (which is not unimportant to me, since I use the Flame as my only device...).

Symptoms:
1) Probably afternoon of 05.02.2015: First update of openwapp indicated on my phone - everything went very well. Openwapp still fully functional.
2) Probably late evening of 05.02.2015 or morning of 06.02.2015: again an avai

[2015-02-07 11:19] willyaranda commented on #92
Hi @dsalewski

This is a problem with Firefox OS, not with Openwapp. What is your Firefox OS version?

Openwapp conversations save the data in a IndexedDB database, which is stored where the OS decides, but should be somewhere :)

For the "password", you can do a `localStorage.get('openwapp_seed');` and paste into the new installation.

[2015-02-07 11:19] #92 closed

[2015-02-07 11:19] willyaranda commented on #92
(closing, since this is not an issue of openwapp, but we can still discuss here)

[2015-02-07 14:57] Timmaks commented on #25
I think we can close this issue because at the moment it is not a issue anymore

[2015-02-09 23:08] duesenfranz commented on #25
Yeah sorry, I was *very* busy the last weeks. I did a lot of work before, but turns out the guys from TextSecure meanwhile also worked [on moving their axolotl stuff into an own library](https://github.com/WhisperSystems/TextSecure-Browser/commits/libaxolotl). As far as I can see, this is still an ongoing effort. So I agree the best solution is closing this for now. The longer we can wait, the bet

[2015-02-10 12:45] Timmaks commented on #77
Right, i change my mind about rewriting the template files, it give to mutch problems and changing the helper does the job.

PR #91 is ready. now i going to setup transifex

[2015-02-10 12:53] willyaranda commented on #77
https://www.transifex.com/projects/p/twitta/ is on transifex

[2015-02-10 12:57] Timmaks commented on #77
@willyaranda yaeh. The only thing is that the form to add a project to https://www.transifex.com/organization/mozilla-tech-evangelism on MDN is not working so i wait for a administrator to help :-)

I think that group is good place for Openwapp

[2015-02-10 12:58] willyaranda commented on #77
Yeah, perfect. I'm going to move the project to that organization.

[2015-02-10 12:59] willyaranda commented on #77
@Timmaks I just sent a request to join that organization.

[2015-02-10 13:00] Timmaks commented on #77
@willyaranda let's see who is faster :-)

[2015-02-16 00:00] feklee opened #93 "How to add someone to a group?"
The admin of a group made me co-admin. *How can I add someone to the group?*

[2015-02-16 09:58] willyaranda commented on #93
This is not possible for now.

On https://github.com/mozillahispano/openwapp/blob/2b3334f7d3ec27339c992b75dcdc6b8e991c2919/app/scripts/models/contact.js#L53-60 we extract the first part of the `jid` send by WA, something like: 1234-5678@g.us

When we started, the 1234 was the only administrator of the group, but that has changed. I have not deep into the protocol about how WA sends the info about

[2015-02-16 09:58] #93 closed

[2015-02-18 20:12] birdsarah opened #94 "Not validating a valid phone number"
Hi,

Very excited to see openwapp.

Am running openwapp (v1.7.4) on my ffos phone (v1.4), installed via the marketplace.

When trying to Sign-up I am asked for my phone number. It is a US number (+1) I have tried both `6173334444` and `617-333-4444` versions of entering it.

In both cases I get the message:

[code]

[2015-02-18 20:25] Insurrectionist opened #95 "Unable to delete/clear conversations."
Whenever the history of a conversation is really long and with a lot of messages it takes a long time to send a new message. Also the message duplicates. Deleting the conversation does nothing because the history is not deleted, when you open the conversation it shows all the messages. In order to clear it all, you have to delete each message one by one.

I'm not sure if it's the same issue as #68

[2015-02-18 22:44] willyaranda commented on #94
@birdsarah Are you using your US simcard, right? Is it the SIM for the number you have introduced?

[2015-02-18 22:49] birdsarah commented on #94
Hi! Thanks for the quick reply.

I was trying to use my google voice number (which I often use to forward SMS). I rarely use my actual mobile number so that I have a buffer for spam.

It's working when I use my actual number.

Sorry for bothering you, and thanks so much for the quick reply.

Maybe I'll do a pull request for a more informative error message.

Thanks again!

[2015-02-18 22:49] #94 closed

[2015-02-18 22:51] willyaranda commented on #94
Hey,

that message comes directly from WA, we don't parse it, yet. a `bad_param`  with a `number` means that your number is incorrect for them, but we allow it to pass the verification.

So if you have any idea for a message and a PR, that will be awesome!

[2015-02-25 09:22] VMbuseck opened #97 "Must register again after telephone restart"
Openwapp: 1.7.4-0-ge417a1a
Firefox OS: 1.3.0.0.prerelease
Device: Alcatel One touch fire

After a restart of the device openwapp requests for a confirmation code. The correct phone number is displayed, but the code received the last time will not been accepted. I had to register again and receive a new code via sms.

[2015-02-25 11:15] Timmaks commented on #77
https://www.transifex.com/projects/p/openwapp/ is ready to go!

[2015-02-25 17:18] telefrancisco commented on #97
Happened to me too 2 days ago, but only once so far. I tried Re-registering again and the issue has not appear anymore since.

[2015-02-25 19:34] telefrancisco opened #98 "Issues when reconnecting and receiving messages ."
When do you reconnect data (or wifi, or restart your phone) openwapp starts to receive (and show) messages people wrote to you when you were offline.

However, when the number of messages sent in the meanwhile is somewhat big (~>10 messages) these are shown in the wrong order. So I think this a serious issue that prevents you from following the conversation.

In addition, the date/hour shown is th

[2015-02-25 20:14] Timmaks commented on #98
This is issue #72

[2015-02-25 20:21] telefrancisco commented on #98
Sorry, didn't find it. I'll close as dupe.

Thanks.

[2015-02-25 20:21] #98 closed

[2015-02-25 20:23] telefrancisco commented on #72
Same bug in 1.3

The issue is serious not for the time itself, but because when receiving a bunch (~>10) of messages they're shown in no particular order, so the conversation is impossible to follow.

[2015-03-03 09:10] Timmaks opened #99 "Read message doesn't clear notification"
Fxos 2.2 latest build on a flame;

When i get a notification of a message and i open openwapp and read the message the notification is not dismissed.

also when i get multiple messages in a groupchat i get a message and then a message that i have 2 unread messages in one conversation but the first notification stays, i would expect that that will be closed

[2015-03-04 08:26] willyaranda commented on #97
If you have to register again, it means that WA does not recognize your current user/password. If it is working, I'm closing this :)

[2015-03-07 19:24] EvertA opened #100 "New contacts in phonebook"
I can not find new contacts through my phonebook.
Also there are no notifications wen people sent a message to me.

[2015-03-09 09:51] willyaranda commented on #100
What kind of contacts? The contacts you see in openwapp are shown in the same app as the contacts app, so you are able to see them all.

Notifications in the notifications bar? or in-app?

[2015-03-09 09:51] willyaranda commented on #100
What kind of contacts? The contacts you see in openwapp are shown in the same app as the contacts app, so you are able to see them all.

Notifications in the notifications bar? or in-app?

[2015-03-09 19:35] EvertA commented on #100
it was the problem that there was no connection with openwhapp. Now it
is allright.
Tanks.

Op 09-03-15 om 10:51 schreef Guillermo López Leal:

[2015-03-10 09:27] #100 closed

[2015-03-15 10:34] ultrafone opened #101 "openwapp"
I reqest full aap for my phone

[2015-03-15 13:11] VMbuseck commented on #97
It happened min. 10 times within the last 3 weeks. Now I cant register anymore (see attachment).

![2015-03-15-14-00-48](https://cloud.githubusercontent.com/assets/6317886/6656112/23711370-cb1d-11e4-98b7-dcdd16c5fce8.png)
![2015-03-15-14-01-03](https://cloud.githubusercontent.com/assets/6317886/6656113/2372b0e0-cb1d-11e4-8369-7d942c81323a.png)

[2015-03-16 10:01] #101 closed

[2015-03-16 10:01] willyaranda commented on #101
¿?

[2015-03-16 10:02] willyaranda commented on #97
This means that WA has blocked you. We can't do anything. You must contact them and try to get unblocked.

[2015-03-16 10:02] #97 closed

[2015-03-18 08:31] Airon90 opened #102 "Updating translations"
About a month ago I finished translating and checking the grammar errors in the Italian translations, yesterday I updated OpenWapp but you didn't include the new translations. Could you please fix it? Thank you!

[2015-03-18 10:47] Timmaks commented on #102
a little patient please, we are in the middle of moving to transifex and the last update on marketplace (5 feb) was before this. when we are finished with the testing there will be a update and your changes made in transifex 3 weeks ago will be included (the repro is not using the last updates now, if i am sure everything is ok i will update the repro with the latest changes of transifex)

 we nee

[2015-03-18 13:27] willyaranda commented on #102
Thanks for the clear response @Timmaks  :)

[2015-03-18 13:27] #102 closed

[2015-03-18 18:38] Airon90 commented on #102
Thank you for your answer, Timmaks! ^^ My fear was that you forgot to update the translations!

[2015-03-19 11:47] Timmaks opened #103 "use l10n.js for interpolate"
@duesenfranz , i can find any contacts of you so i do it this way.

I work on porting the l10n system of openwapp to l10n.js and have a small problem in login.js where you worked on

<code>
message = interpolate(l10n[stringId], {
            country: this.countryTables.getCountryByMccMnc(
              this.selectedSimCard.mcc, this.selectedSimCard.mnc)
            });
</code>

can be changed to
<

[2015-03-24 14:59] rsternagel commented on #3
Same problem like @Artox. :(

[2015-03-24 23:41] duesenfranz commented on #103
Sorry for the delay... :sunny:

Anyhow, there were quite a few bugs in there, they are fixed [here](https://github.com/duesenfranz/openwapp/commit/6ca8d3081c909a62b1bd7c98b24e56429e68eb2a) :)

``getCountryByMccMnc`` actually gave back an object, and it's name was under ``.attributes.name``.

I guess I didn't even see this bug because the l10n code replaced the ``{{country}}`` expression by the exi

[2015-03-24 23:44] duesenfranz commented on #103
We also might want to change the country names in countries.js with the localized country names, or add a new field....

[2015-03-25 08:38] willyaranda opened #106 "Add a meaninful message for "blocked""
![2015-03-22-22-34-49](https://cloud.githubusercontent.com/assets/679157/6820802/92b3097a-d2d2-11e4-8685-52b98ea68671.png)
This is what we show. We should tell the user that he has been blocked from WA, and Openwapp could do nothing to unblock. He must contact WA directly and try to unblock him.

P1 and an easy project for a newcomer.

[2015-03-25 11:57] shukriya opened #107 "openwapp developer"
Please support by openwapp-save,deleat & sigi.in or longout

[2015-03-25 11:58] #107 closed

[2015-03-25 11:59] shukriya commented on #107
I waiting for support

[2015-03-25 12:48] willyaranda commented on #107
I cannot get a clue about what are you talking about, sorry

[2015-03-25 12:51] #77 closed

[2015-03-25 20:13] Timmaks commented on #103
Yes we need something else so we can localize the country names. I gues something excised  allready inside gaia. Can you work on it @duesenfranz ?

[2015-03-25 20:13] #103 closed

[2015-03-26 13:57] feklee opened #108 "Message not received, no icon"
Last night I sent a message, and the recipient did not receive it. She, however, received the messages before and after that. Curiously, associated with the message is no icon. Seeing that there is no icon, I restarted the phone, and reconnected with OpenWapp, making sure it is online, but to no avail: The icon was still missing.

![Edited screenshot, showing no icon for message](https://cloud.git

[2015-03-29 15:50] iolkan opened #109 "French department of Martinique : no area code available"
Hi,
I'm trying to install openwapp in Martinique, but there's no area code available when I select this area, only a "+" symbol. Then it displays an error number if I try to register.
Thanks in advance!
Iolkan

[2015-03-30 08:56] willyaranda commented on #109
Ouch, it's true!

https://github.com/mozillahispano/openwapp/blob/master/app/scripts/countries.json#L7456

What is the country code?

Ping @duesenfranz as he is the creator of the original code and python converter.

[2015-03-30 13:47] duesenfranz commented on #109
Oh yeah, that was [an error in the csv file](https://github.com/musalbas/mcc-mnc-table/blob/0c9eac31b0f28c3cf187acf04bb6d7b740f4ac07/mcc-mnc-table.csv#L890), which is however [fixed](https://github.com/musalbas/mcc-mnc-table/blob/76f514a118e313cfa4748463add04101bda6bba6/mcc-mnc-table.csv#L878) by [this commit](https://github.com/musalbas/mcc-mnc-table/commit/94ba6ed9e30f6999c2bf47b3babf4b2460ae54a

[2015-03-30 13:54] willyaranda commented on #109
If it does not break anything, yeah :) Please upload the new version, and I will push a new version to the marketplace.

Thanks!

[2015-03-30 14:04] Timmaks commented on #109
Don't push a new version to the narket place before my pr is committed. There is a l10n error in the currunt version of master who results in a white screen. Fixed by the latest pull request

[2015-03-30 14:41] iolkan commented on #109
the code is +596
:)

      De : Guillermo López Leal <notifications@github.com>
 À : mozillahispano/openwapp <openwapp@noreply.github.com>
Cc : iolkan <ndemengeon@ymail.com>
 Envoyé le : Lundi 30 mars 2015 4h56
 Objet : Re: [openwapp] French department of Martinique : no area code available (#109)

Ouch, it's true!https://github.com/mozillahispano/openwapp/blob/master/app/scripts/countries.json#L7

[2015-03-30 15:30] Timmaks commented on #109
@willyaranda i planned to update the l10n files this Wednesday,  can you wait till then with the push to marketplace so the work in  transifex is in the next official build?

[2015-03-30 15:32] willyaranda commented on #109
Yes, no problems.

2015-03-30 17:30 GMT+02:00 T.M. van den Broek <notifications@github.com>:

--
Guillermo López [willyaranda]
http://mozilla-hispano.org
http://twitter.com/mozilla_hispano
http://facebook.com/mozillahispano
Certified Mozillian: https://mozillians.org/willyaranda

[2015-03-30 16:57] shukriya opened #110 "openwapp not support"
My aap not support save,forword etc

[2015-03-30 16:57] #110 closed

[2015-04-04 21:37] shukriya opened #111 "openwapp"
My device not support.save,upload,forword etc.

[2015-04-05 06:12] Timmaks commented on #111
If you want help, you need to give more information. Type of device , Firefoxos version, steps to reproduce etc.

Closing for now

[2015-04-05 06:12] #111 closed

[2015-04-05 12:03] Timmaks commented on #11
is this still an issue? on my flame with FxOS 2.2. i have (now) notification icons.

[2015-04-05 13:31] Insurrectionist commented on #11
I still don't have the icon on notifications.
ZTE Open II - Firefox OS 1.3

[2015-04-21 07:21] ilaeda1992 opened #112 "whatsapp"
Why whatsapp not reinstall why an error come i want it on my home screen

[2015-04-23 02:09] mancvso commented on #112
Seems like you've uninstalled it by accident.
Check in the Firefox Marketplace that you have OpenWapp installed on your device. If not, be sure to install it.
If Spanish is your native language, please use it as well.

[2015-04-23 02:49] mancvso opened #113 "Hangout"
With the last commit from one month ago, is clear that the lead developer needs to guide the community to take over the project.

I propose a Google Hangout (on Air, recorder for latter use) to fast-track into the development of OpenWapp.

I propose this because the tool chain is very opinionated. So instead of going into the wild and learn what does every part, Why not explain where should we sta

[2015-04-25 07:38] dee-dw opened #114 "OpenWapp cannot reconnect, no error message"
After installing OpenWapp on my Mozilla Flame with Firefox OS 1.3 I received some messages for some hours. If I wanted to send a message after this time the message is marked with a red border and the "redo"-icon appears so I think the message was not sent.

I restarted OpenWapp and I see the tag "Offline" in the Inbox. Below the dialogs I just see the loading icon of Firefox OS, so I think OpenWa

[2015-04-25 16:24] py-crash commented on #11
I can confirm with @Insurrectionist this is still an issue in  ZTE Open II - Firefox OS 1.3

[2015-04-26 10:13] Airon90 opened #115 "Implement a contactbook"
Hi, I'm not a coder so I'm sorry but I'm writing another wish feature.
By now, it is impossible to know who in my contactbook owns a Whatsapp account.
Is it possible to create a contactbook, like in Telegram, in order to know who to write to on Whatsapp?
Thank you very much!

[2015-04-27 23:05] py-crash opened #116 "Use the group alias not the group id when showing notifications"
The group id is used when showing notifications, instead the group alias should be used, since it's  more user friendly. No one remembers the id
![screenshots_2015-04-27-19-58-06](https://cloud.githubusercontent.com/assets/3385947/7359762/ae7ca2be-ed18-11e4-8c50-4401be24f927.png)

[2015-04-28 15:42] willyaranda commented on #113
Hi,

I would love to have a hangout with more people to get more community involved. I don't have the time to keep this project active, but it does have nice things that are needed.

Feel free to open a doodle, send it over here, and publish it with your coding friends.

[2015-04-28 15:44] willyaranda commented on #115
It is possible, yeah. We only need to send to WA our contacts, and it answers with those that are on its system.

It's not a easy or small task, but available for anyone to take it.

[2015-04-29 03:58] tanmaycool opened #117 "openwapp is not installing on my phone intex cloud fx??"
After installation i tried to verify the number but it causes error old version please contact openwapp devs

[2015-05-01 09:17] ilaeda1992 commented on #112
New version

[2015-05-01 09:19] ilaeda1992 commented on #112
Why it not proceeding new version in my phone i want download new version now plz help

[2015-05-01 11:31] khepriduat commented on #117
Same here.

[2015-05-01 11:37] Hywan opened #118 "Can't register on nightly"
Hello :-),

New update of Firefox OS nightly (3.0) today. Opening OpenApp. I am prompted to register this phone (why? it was working yesterday ;-)) and when I enter my phone number waiting for the SMS, I have the following error:

Here I am :-).

[2015-05-01 12:21] JayVii commented on #99
I can approve, this is an issue for me as well. ZTE Open C (FxOS1.3)

[2015-05-01 12:32] Airon90 commented on #118
This error happens to me, too!

[2015-05-01 13:30] Insurrectionist commented on #118
Something similar happened to me but on 1.3. It was working then around an hour later it prompted to register my phone.

[2015-05-01 13:46] holztest08 commented on #118
The same problem. I think WhatsApp changed something with the client requirements...

[2015-05-01 14:45] eduardoandre commented on #118
I need the old version please!

[2015-05-01 14:48] eduardoandre commented on #118
I am brazilian, I don't speak english. But I need the old version, please. Because my app this not working.

Thank you very very much

[2015-05-01 16:24] nebocamin commented on #118
Can confirm on three phones. Yesterday it was working today, not anymore. Me on 2.2 and on 2.0 same effect. Maybe "they" changed something.

[2015-05-01 18:08] ChrAck commented on #118
Yes, same behaviour in Germany/Congstar:  Old version message and non working client; seems to be a general change in authentication... :-/

[2015-05-01 18:12] alex-mayorga commented on #118
Just another "me too" on Flame 2.2...

If only my contacts would ditch WhatsApp and evolve into Telegram =(

[2015-05-01 18:47] willyaranda commented on #118
I had a PR on CoSeMe (the underlying library to connect to WA) by @titannano

https://github.com/mozillahispano/coseme/pull/15

Merged. I will create a new zip and upload to the store ASAP.

[2015-05-01 18:48] cvrcollege commented on #117
For mee too so plz solve d prblm by leaving help in my email...as soon as possible as it iz urgent

[2015-05-01 19:00] willyaranda commented on #118
I have generated a new version with just this change,

could someone test? I don't have any FirefoxOS phone until Monday.

https://cloud.pijusmagnificus.com/index.php/s/xP29bddXqAoPyS2

Thanks!!

[2015-05-01 19:17] willyaranda commented on #112
There is a new version on the marketplace.

[2015-05-01 19:17] #112 closed

[2015-05-01 19:24] Shadow1g commented on #118
tested --> 1.7.5.0 doesnt work

[2015-05-01 20:15] Insurrectionist commented on #118
Tested it too, not solved on Firefox OS 1.3.

[2015-05-01 20:20] nebocamin commented on #118
works for me, using 2.2 on a flame

[2015-05-01 22:24] holztest08 commented on #118
Still the same error. Loqui also have the same problem...yowsup works.

[2015-05-02 01:26] Airon90 commented on #118
@willyaranda I tested it on my Flame under Firefox OS 3.0 (latest update: 30th April) but the problem still occurs

[2015-05-02 08:38] ChrAck commented on #118
Works fine for me too:  2.0 on Alcatel 6015x

[2015-05-02 13:53] TitanNano commented on #118
hello, everyone here is talking of the device registration not the authentication of an already set up account?

@willyaranda on Loqui we got a report from a failed code request where whatsapp respondes with "bad_token". The token is assembled by CoSeMe from the phone number and a static string like this
`var plain = 'PdA2DJyKoUrwLw1Bg6EIhzh502dF9noR9uFCllGk1418865329241' + phone;`
maybe we need t

[2015-05-02 14:13] aesedepece commented on #118
The new string should be ```PdA2DJyKoUrwLw1Bg6EIhzh502dF9noR9uFCllGk1425519315543{phone}```.

[2015-05-02 14:14] TitanNano commented on #118
@aesedepece I see I'll create a pull request for CoSeMe and Loqui. How do you get the string?

[2015-05-02 14:18] aesedepece commented on #118
It needs to be extracted from official app's package. That one came from WhatsApp 2.12.68 for S40.

[2015-05-02 14:24] TitanNano commented on #118
I see, thank you for providing it +1. I patched Loqui so we need to wait
for people to test if it's possible to register again. If so I'll do a PR
for CoSeMe too.

2015-05-02 16:18 GMT+02:00 Adán Sánchez de Pedro Crespo <
notifications@github.com>:

[2015-05-02 14:43] tchetch commented on #118
I had the same problem and changing the string did correct it ... I could register.

[2015-05-02 14:44] TitanNano commented on #118
@tchetch alright. thanks for the test :) I'll do a PR for CoSeMe.

[2015-05-02 18:27] feklee commented on #118
Downloaded the zip from my device, unzipped it, changed the code to `PdA2DJyKoUrwLw1Bg6EIhzh502dF9noR9uFCllGk1425519315543`, zipped again, and copied it to my device. Last steps:

    $ zip -r ../application.zip *
    $ cd ..
    $ sudo adb push application.zip /data/local/webapps/{ce5ca96f-8384-488f-b100-ec1c6b780da7}

Then I restarted my Keon (1.3), and still I am requested to enter my PIN, whic

[2015-05-02 18:34] tchetch commented on #118
I used the zip from @willyaranda on FirefoxOS 1.3.0.0 on a ZTE Open C

[2015-05-02 19:19] Shadow1g commented on #118
"PdA2DJyKoUrwLw1Bg6EIhzh502dF9noR9uFCllGk1425519315543" works fine!

[2015-05-02 19:36] EdoPut opened #119 "Outdated version"
The app prompt to contact devs when registering a number, say it's outdated.

ZTE Open C, ffos 1.3, latest version from marketplace

[2015-05-02 19:43] Timmaks commented on #119
dupe of #118

[2015-05-02 19:43] #119 closed

[2015-05-02 19:46] Timmaks commented on #117
The work on the fix is discussed in #118

[2015-05-02 19:46] #117 closed

[2015-05-02 21:09] feklee commented on #118
@tchetch Cool, the zip by @willyaranda works. I see that there are a couple of other strings / version numbers updated.

[2015-05-03 12:51] Andreas-Berger commented on #118
Hi!
Just wanted to let you know workaround (unzip / change string / zip) described by feklee works for me too. Using Firefox 2.0 on geeksphone revolution - Thanks!!!

[2015-05-03 13:01] feklee commented on #118
Possibly I didn't have the latest version installed.

@Andreas-Berger The string is in `webapps.json`, as describe in the wiki page on [migration][1].

[1]: https://github.com/mozillahispano/openwapp/wiki/Migration

[2015-05-04 05:58] Hywan commented on #118
The recent update did not fix it :-(.

[2015-05-04 10:21] willyaranda commented on #118
I just pushed a new version to the marketplace (1.7.6). Waiting to be approved.

[2015-05-04 10:58] Shadow1g commented on #118
sure? there is still the 1.7.5 online

[2015-05-04 11:25] Hywan commented on #118
@willyaranda Perfect. Let's wait and see :-).

[2015-05-04 13:49] willyaranda commented on #118
Approved. Please update and report :) Thanks!

[2015-05-04 13:49] #118 closed

[2015-05-04 13:53] pdr3947 opened #120 "Undefined"
I can not sign up again in OpenWapp always appears undefined What do I do now to go back to normal?

[2015-05-04 14:01] pmquste commented on #120
I have the same problem since last week. Cant install it.

[2015-05-04 14:10] pmquste commented on #118
Preciso de ajuda!! MMeu openwapp não está funcionando desde a semana passada. Eu o utiizava para trabalho e atender meus clientes. Tento registrar meu telefone mas dá a seguinte mensagem "Indefinido". O que devo fazer...Lí as instruçoes de vocês nesse forum mas não consigo entender o que significa e onde colocar todos esses códigos....

[2015-05-04 14:39] pmquste commented on #118
i need help! Cant install the openwapp on my firefox since last week. Is says "Indefined". Any help please.

[2015-05-04 19:35] Insurrectionist commented on #118
Working on ZTE Open II - Firefox OS 1.3.

[2015-05-04 20:01] trompetix commented on #118
thank you willyaranda!
I just reinstalled your new verision: great job!
Works for me on Alcatel OneTounch Fire E with FFOS 2.0.0 01009B

[2015-05-04 20:12] naugtur commented on #22
I tried multiple times, but I can't get any people names, I just see phone numbers.

Is it supposed to work? And if so, how? Could anyone point out a lines that make it work?
I'm willing to help, but I need some pointers ;)

[2015-05-04 20:14] willyaranda commented on #118
Great! Huge thanks to @aesedepece  and @TitanNano

[2015-05-04 22:18] khepriduat commented on #118
Solved! Now working on ZTE Open with 2.0. Thanks!

[2015-05-05 07:42] Hywan commented on #118
Solved on nightly. Great job :-).

[2015-05-05 11:33] Shadow1g commented on #118
The problem isn solved, it works only for some hours, after this you lose the connection to the WA-network. All you can do after that is to reinstall openwapp. thats no permanent solution...

[2015-05-05 11:37] Shadow1g opened #121 "1.7.6 doesnt works permanent"
The problem with the new client requirements isn solved!

The new 1.7.6 works only for some hours, after this time you lose the connection to the WA-network again and cant reveive or send anything.

All you can do is to reinstall openwapp, than it works again for some hours, but not permanent...

[2015-05-05 12:12] Hywan commented on #118
@Shadow1g Hmm, I can't reproduce your issue. What is your version of Firefox OS (because some of them have troubles with the socket API).

[2015-05-05 12:34] Shadow1g commented on #118
Firefox OS 2.0 // Alcatel One Touch Fire E

[2015-05-06 13:35] pavithrashankar opened #122 "not receiving messages in connectA2"
Iam not receiving any messages in connectA2 please fix it

[2015-05-06 13:37] pavithrashankar commented on #23
Iam not receiving messages in connectA2 please fix it

[2015-05-06 14:39] willyaranda commented on #122
This is not Connecta2 repo.

[2015-05-06 14:39] #122 closed

[2015-05-06 16:16] pavithrashankar commented on #122
Iam not able to open openwap while trying its showing "old version"

[2015-05-06 19:08] Timmaks commented on #122
Have you updated to version 1.7.6 from Marketplace?

[2015-05-16 09:06] aaronant opened #123 "update openwapp"
Hi! have quite a simple question: how can I update openwapp to version 1.7.6? When I search openwapp in marketplace it only gives the option "open" not download. Do I have to kill the old version first? And if yes, will all the old conversation be lost after that? Thanks for helping!

[2015-05-17 11:39] willyaranda commented on #123
Hi!

The update process is out of our hands. When we push a new version to the marketplac, users should get a notification on their phones that a new version is available (I think it is between 0 and 24h hours of our upload, but I'm not sure).

Removing the old version will mean that your conversations will be deleted, sorry.

[2015-05-17 11:39] #123 closed

[2015-05-18 06:10] bobcanthelpyou opened #124 "Some group messages are lost"
I am a member of a group twice with different numbers and clients
- Firefox OS 2.0 and OpenWapp
- Android Emulator (Android SDK) and WhatsApp

Some messages are not received with OpenWapp, i miss them compared to the same group on the official WhatsApp client.

Could that be just a bad connection problem? Both clients share the same restricted mobile data connection, but are mostly online to diffe

[2015-05-21 20:26] adriaon commented on #124
i;ve been missig a few too

[2015-05-24 11:05] pavithrashankar commented on #122
How to update

[2015-06-01 10:52] Timmaks commented on #122
normally the phone will do that automatically but i believe you can force the update check through the settings menu of your phone.

[2015-06-01 10:57] Timmaks commented on #121
I do not see this problem, some times i lose the connection (go offline) but after a app restart it is ok again, did you also try to force close the app and start again so it will try to connect again to WA

[2015-06-01 10:58] Timmaks commented on #120
can you be more specific, what version do you use, is it a update, what version of fxos do you use etc.

[2015-06-01 17:59] JayVii commented on #122
I think that "feature" doesn't work in FxOS1.3 (at least not for me)
The update-tool will always show "no updates available" and there are no notifications either. So you have to manually look in the marketplace and manually RE-INSTALL the app if you want the new version :S

[2015-06-03 04:11] dee-dw commented on #114
Do you need any more input? Can I give you more data?

[2015-06-04 06:46] pavithrashankar commented on #122
I have already re installed the app but the the problem is their

[2015-06-12 13:44] oteo opened #126 "Can not create a group with OpenWapp"
STR:
1) Create a group
2) Include Group name and participants and press "Done" button

Current Result: Nothing happens, no group is created and this was working in older versions of the application

Note: In case it can helps: Server is receiving a 500 error fault

[2015-06-12 14:03] oteo opened #127 "Older groups are not loaded when signing in OpenWapp"
STR:
1. Install OpenWapp
2. Sign-in with a Misisdn that already had some groups chats opened in whatsapp/openwapp application

Current Result: the chat list is completely empty
Expected Result: Older group chats should be showed in the chat Inbox

Note: This was working in older versions of the application

[2015-06-12 14:18] oteo opened #128 "When sending or receiving a picture the UI is broken"
STR:
1) Install and sign in OpenWapp App
2) Open a chat with Contact B
3) send a picture to Contact B or receive it from that contact

Current Result
![2015-06-12-14-00-19](https://cloud.githubusercontent.com/assets/1402627/8131989/9e331328-111e-11e5-8cb6-2b2415b1d2cb.png)

[2015-06-12 14:32] Timmaks commented on #126
please provide more details. witch version of openwapp/fxos/phone/..

[2015-06-12 14:32] Timmaks commented on #127
please provide more details. witch version of openwapp/fxos/phone/..

[2015-06-12 14:34] Timmaks commented on #128
please provide more details. witch version of openwapp/fxos/phone/..

this is a easy css fix, who want to take this?

[2015-06-12 14:39] oteo commented on #126
FxOS: latest master version (today's build 12 Jun 2015)
OpenWapp: 1.7.6 (latest available in the MP)
Device:Flame

[2015-06-12 14:39] oteo commented on #127
FxOS: latest master version (today's build 12 Jun 2015)
OpenWapp: 1.7.6 (latest available in the MP)
Device:Flame

[2015-06-12 14:39] oteo commented on #128
FxOS: latest master version (today's build 12 Jun 2015)
OpenWapp: 1.7.6 (latest available in the MP)
Device:Flame

[2015-06-12 18:48] Timmaks commented on #127
Are you seeing that there are no groups or that the groups you are member to are there but empty?

[2015-06-12 18:58] Timmaks commented on #121
I see now what you mean, after a few hours openwapp goes offline and the only possibility to get online is to close the app and restart it again.

[2015-06-12 20:47] oteo commented on #127
There are not any groups and they should be there.

I was expecting that they were empty as you mention but I can not check that as there are not any group chat

[2015-06-13 12:15] willyaranda commented on #127
It may be possible that WA has switched off groups v1 and there are using the v2. And we don't have any code for that.

[2015-06-17 20:39] naitsirch opened #129 "White screen when executing current version (own build)"
Hi.
I have setup my dev environment and tried to build the latest version (git commit f197065a605072664f46e047d47a5e0b3538b12f). When starting the app on my device with the Firefox WebIDE, I only get a white screen.

So I have checked out commit bbe70162c308e31df8f334edd9b73f7b5d4dede8 again and that worked. So it seems like there are recent changes which breaks the app at least on my device, Fire

[2015-06-18 06:58] Timmaks commented on #129
Have you done the steps for troubleshouting (ie because of change of the coseme version you have to run bower again):

If after updating the code the tests or jshint are failing, maybe you have outdated dependencies. First thing to do is to update all the dependencies:

$ npm install
$ bundle install
$ bower install

Sometimes npm install does weird things, if you keep receiving errors when execut

[2015-06-18 19:04] naitsirch commented on #129
I have done a fresh `npm install` and `bower install` ;-)
But I don't know what `bundle install` was for. It didn't work for me, because I had to enter a password that I did not know. I have never done anything with ruby or ruby-gems before... maybe you could clarify this for me?

[2015-06-19 12:16] naitsirch commented on #129
@Timmaks the problem is, that the *Promise* class is not available in Firefox OS 1.3 (plattform version 28.0). As I am trying to create a bugfix, what do you think about using https://github.com/petkaantonov/bluebird as a fallback for FOS versions that have not enabled the *Promise* class?

And do you know if there's a clean way to include the fallback library only if *Promise* is not avaiable nat

[2015-06-19 12:31] Timmaks commented on #129
Can you first test to update the l10n script to the latest version from https://raw.githubusercontent.com/mozilla-b2g/gaia/master/shared/js/l10n.js

otherwise we can revert the update of the script to the previous version

[2015-06-19 14:03] Timmaks commented on #129
just to make sure, can you build your own version of the 1.7.x branch?

[2015-06-19 14:10] willyaranda commented on #129
Hey,

I would use a 1.3+ valid l10n.js

https://github.com/mozilla-b2g/gaia/tree/v1.3/shared/js

[2015-06-19 14:48] Timmaks commented on #129
@willyaranda yeah i think that is also better, and i don't think we use any new function of the master branch

[2015-06-20 15:33] naitsirch commented on #129
Thanks for your hints! I have checked out openwapp 1.7.x branch and built it, which worked well ;-)
I have tried to use the l10n.js from Gaia v1.3, but that did also fail. No texts were shown and there wer many console logs, saying that translation codes are missing. It looked like the resources have not been loaded.

Well I think I'll try to develop against 1.7.x branch. I think you can close thi

[2015-06-21 09:56] Timmaks commented on #129
Thanks for bringing this up. i have to amid i didn't use 1.3 for testing the new l10n system. I am going to revert the l10n.js script back to the version of 1.3. because we need the new l10n also in the 1.7.x branch.

That you fail is right, the way how the script connects to the translation files is changed between the two scrips.
going to work on this and will ask you to test again when i am fin

[2015-06-21 22:03] naitsirch commented on #127
Same problem here. The progress bar is rotating endlessly.
In console log it says:

It looks like `IDBKeyRange.only` does not accept `null` values. So I have changed

[code]
in line 585 to
[code]
Now my console log says:

Coseme gets a conversation, but with `gid === null`and empty subject.

I am using current OpenWapp 1.7.x build, device ZTE Open C with FOS version 1.3

[2015-06-22 17:57] naitsirch commented on #116
Confirmed on Firefox OS 1.3 (ZTE Open C)

[2015-06-23 05:57] BlackForest2015 opened #132 "Problems with already existing contacts and groups"
Hello,
because you ask for reporting any issues here I am. Note please that I am not a programmer.
I am using a ZTE OpenC, FFOS 1.3.
Since about 3 or 4 days I observe some strange effects.
I have no problems by creating new groups or new conversations.
But I have problems by using already existing groups. E.g. I can’t see online status of contacts, name of contact is not shown (only the phone numb

[2015-06-23 12:10] naitsirch commented on #99
This is partially solved with #131
If one clicks on a notification, it will be removed. But if there are 2 notifications for one chat, only the one which has been clicked on will be removed.

This could be fixed by saving all notifications in the `Notification` instance and removing related notifications if a chat is opened.

[2015-06-23 12:16] naitsirch commented on #11
Some days ago I have build the 1.7.x branch locally and installed it on my ZTE Open C with FOS 1.3 and now it works. The marketplace version had the same issue for me. But I do not know if there's a difference with the handling of resources if the app is installed from marketplace?

[2015-06-23 20:54] naitsirch commented on #116
@willyaranda I am trying to fix some things regarding this issue. And now I am stumbling about the difference between `Contacts` and `Conversions`. I found this comment in `contact.js`:

    // TODO: we should fully distinguish groups from contacts

So what is the definition of `Contacts` and `Conversions` in OpenWapp? Because the default attributes are overlapping (like *isGroup, title, subject,

[2015-06-23 21:13] Omega246 commented on #132
Hello. First i have to say thx so much for your great work with this programm and your contribution.

Second, I have the exact same problem as BlackForest2015 has. At first i thought it was because of the new update of Firefox OS. But now, i know its something else.

I have a ZTE OpenC, too.
Software: Boot2Gecko 2.2.0.0-prerelease (aurora)
Update: 2015-06-01
Openwapp: 1.7.6-0-gbbe7016

[2015-06-24 09:59] holztest08 commented on #132
I have the same problem.

[2015-06-24 11:25] Timmaks commented on #129
@naitsirch i just updated the l10n system on the master, can you please build your version from themaster and confirm that is fixed for your phone ( i tested it on a keon with version 1.3)

[2015-06-24 12:43] Timmaks commented on #120
Closing because no info.

p.s. you get a undefined when something went wrong with the communication to WA. we did not show a right error message, this will be fixed in the next version

[2015-06-24 12:43] #120 closed

[2015-06-25 11:45] naitsirch commented on #11
@Timmaks @willyaranda maybe one of you could update the app on marketplace to verify this?

[2015-06-25 11:49] Timmaks commented on #11
If you have the time to test the localization on the master and it works ok, i will push a update to the marketplace

[2015-06-25 11:53] Timmaks commented on #109
@duesenfranz  please push this to the master so we can release a 1.8 version to the marketplace

[2015-06-25 22:13] naitsirch commented on #129
@Timmaks yes, *master* works fine, now. Confirmed ;-)

[2015-06-25 22:14] #129 closed

[2015-06-26 09:11] MoBo opened #135 "Push Notifications"
Are there any attempts to integrate push notifications to inform the user on new messages?

[2015-06-26 13:16] willyaranda commented on #135
Push notifications are not going to be implemented. For that, we need to fake a server saying that we are a Android or iOS and use GCM/APNS.

And we will need your user/password, so that's not really an option.

[2015-06-26 13:16] #135 closed

[2015-06-28 07:17] naitsirch commented on #116
@Timmaks can you help me with my questions?

[2015-06-28 07:37] Timmaks commented on #116
Sorry you really need @willyaranda or one of the other developpors for that, i am also not familiar with the definitions

[2015-06-29 07:12] willyaranda commented on #116
I need to read the code, because I don't really remember the difference.

[2015-06-30 10:47] Airon90 commented on #8
I'm not a coder but here is how to implement Web activities for OpenWapp: https://developer.mozilla.org/en-US/docs/Web/API/Web_Activities

Web Activities allow to share URLs too!

[2015-06-30 16:32] naitsirch commented on #11
@Timmaks I have tested it, and it works (see #129)

[2015-06-30 17:31] Timmaks commented on #11
Thanks, i will do a update probably this weekend.

[2015-07-14 08:07] Airon90 opened #137 "Problems with localization"
[ ] "country" variable is not localized ([see](https://www.transifex.com/projects/p/openwapp/viewstrings/#en/openwappen-usproperties/40997289), [see](https://www.transifex.com/projects/p/openwapp/viewstrings/#en/openwappen-usproperties/40997315))
[ ] "minutes" variable can be "1", so «minutes» in the key should be at least «minute(s)» or another key for the singular word should be added ([see](htt

[2015-07-14 09:27] Timmaks commented on #137
Yes, the variable part is next on the list. My first goal was to port the l10n and activate the new languages.

Feel free to  work on this

[2015-07-14 10:19] Timmaks commented on #137
I think it is ok to drop OpenWapp as you suggested

[2015-07-14 10:41] Airon90 commented on #137
I'd help you if only I knew how to code and how to read code ._.

[2015-07-14 12:23] Airon90 commented on #123
Generally you should open Settings > Device Information > Check now

[2015-07-16 22:57] Airon90 commented on #118
Again I was disconnected to Whatsapp and when I tried to ask a code for my phone number OpenWapp warned me that the version is obsolete but there isn't any new version of OpenWapp. :(

[2015-07-17 00:05] nicholascamp opened #144 "Not working anymore in LG Fireweb D300 (Firefox OS 1.1)"
I was using it until today, when it "logged off", asking my number again. When I give the number, OpenWapp returns undefined to me.

[2015-07-17 06:24] wasi99 commented on #144
On Alcatel One Touch Fire, FFOS 1.3 is an error message since 8 hours...
Old Version. Contact OpenWapp devs

Update to new Version (1.8.0 from marketplace): same error

[2015-07-17 06:39] cmeerw commented on #144
likely related to mozillahispano/coseme#19

[2015-07-17 07:04] capsnew opened #145 "New version problem"
I use OpenWapp on my fxOS device and I have this message when I'm trying to change my phone number (I need to because I changed my SIM card): 'Old version, please contact OpenWapp devs'. I already uninstalled & re-installed app from the Marketplace, it doesn't work better.

[2015-07-17 07:12] Timmaks commented on #118
This is a closed issue so please open a new issue (it is new because it is a result of a chnage in whatsapp) like the somebody did in issue #144 .

[2015-07-17 07:13] Timmaks commented on #145
dupe of #144

[2015-07-17 07:13] #145 closed

[2015-07-17 07:16] Timmaks commented on #144
Did you enter a new code or did you use a old reg code?

We need a update of coseme to fix this registration error like cmeerw say

[2015-07-17 07:22] capsnew commented on #144
I have been redirected here (from https://github.com/mozillahispano/openwapp/issues/145) but I don't understand what I have to do. I have the same error on ZTE Open C.

[2015-07-17 07:28] Timmaks commented on #144
@capsnew you have to wait till we have a new version of whatsapp (1.8.1). and for that we have to wait for a update of Coseme. We hope to push this to the marketplace today.

[2015-07-17 08:08] capsnew commented on #144
OK thank you

[2015-07-17 09:41] Hywan commented on #118
@Airon90 Same here…

[2015-07-17 09:42] Hywan commented on #144
@Timmaks Thanks.

[2015-07-18 11:40] leshmat commented on #123
Please mend this openwapp problems now i am regrettin a lot to use firefoxOS

[2015-07-18 11:53] Airon90 commented on #144
So, what's the problem, @Timmaks? :)

[2015-07-18 13:46] leshmat opened #146 "oldversion issue"
Its nt evn a month operatin openwapp; i have changed numbers n recently i cnt use it because it says contact developer its an old version!! What should i do?

[2015-07-18 13:46] #146 closed

[2015-07-18 15:46] xf- opened #147 "Old version - can't connect"
If i try to connect i get
"Old version, please contact OpenWapp devs"

[2015-07-18 16:31] nicholascamp commented on #144
I was receiving undefined, but today OpenWapp updated and when I register it tells me 'old version, contact OpenWapp dev'.

[2015-07-18 18:39] Timmaks commented on #147
Dube of #144

[2015-07-18 18:39] #147 closed

[2015-07-18 18:42] Timmaks commented on #144
Coseme has a pull request but the defs didn't aply it yet. We are depending on that.

[2015-07-18 19:55] Timmaks commented on #144
I did some changes by hand and pushed that to the marketplace. i hope it get reviewed quick!

[2015-07-18 20:13] nicholascamp commented on #144
Nice, Timmaks, thanks.

[2015-07-19 09:39] Airon90 opened #148 "Urgent update of Marketplace entry"
Many people are rating 1 star out of 5 because of #144
Please, flag those comments as bug reporting and add an advice on the entry in order not to add such useless comments and to follow on Github the bug report n. 144

[2015-07-19 13:18] Timmaks commented on #148
New version is aviable

[2015-07-19 13:18] #148 closed

[2015-07-19 13:18] Timmaks commented on #144
New version is aviable

[2015-07-19 13:18] #144 closed

[2015-07-19 14:34] Airon90 commented on #144
Just a question: why did you push all changes on Marketplace but you didn't change the source code on GitHub?

[2015-07-19 22:35] J0WI commented on #144
Thanks for quick the Update!
Would be great to have the changes on GitHub too.

[2015-07-20 12:46] jssCAT opened #149 "The last update hasn't resolved the problem in my smartphone"
Hello everybody,

I want to tell you that I'm having problems with Openwapp. I have uninstalled the previous Openwapp version and I have installed the new update, but it doesn't work correctly. The sesion is "offline" permanently, and it doesn't load the chats. My smartphone is an Alcatel One Touch Fire E, and the version of Firefox OS is 2.0.

Thank you!

[2015-07-20 15:00] cmeerw commented on #149
I believe WhatsApp was down today for some time, are you still having issues connecting?

[2015-07-20 16:30] Hywan commented on #144
:+1:

[2015-07-20 16:51] jssCAT commented on #149
Yes! I have tried to connect Openwapp another time, and now it works very well! Even it works better than the previous version. Thanks for the information! :)

[2015-07-21 09:07] Timmaks commented on #144
I modified the local coseme file in my build config, as soon coseme has a new version the build config of openwapp on github will be updated so itwill use that new version

[2015-07-21 09:08] #149 closed

[2015-07-21 09:33] capsnew commented on #144
Everything is back to normal for me, thank you everyone (y)

[2015-07-21 12:23] Timmaks commented on #144
@J0WI the fix is now in the 1.8.x branch with label 1.8.1

[2015-07-22 20:10] lumimgardt commented on #114
Have same problem. The app keeps showing offline even when i am connected therefore making it impossible for me to chat. Please i need urgent help

[2015-07-22 21:24] bobcanthelpyou commented on #66
I am using v1.8.1-0-gb77614d and it seems that when accessing a group all messages are loaded. It is not possible for me to see all these messages but i could see a long list of debug messages "Saved message" and "[history] Saving conversation" of every single message on the console of WebIDE. It takes more than 5 minutes until the output on the console stops at message id=1.

[2015-07-22 21:31] bobcanthelpyou commented on #72
I also don't access Openwapp daily. Messages are show as received when i access Openwapp. That is often confusing when contacts have written something about where they are and about meetings, cause i actually don't know when the messages where written.

[2015-07-22 21:35] bobcanthelpyou commented on #50
I am using v1.8.1-0-gb77614d and the debug output seems to be enabled. I could connect WebIDE and see debug messages on the console.

Should it be possible to enable and disable the debug mode in the settings of the profile?

[2015-07-22 21:52] bobcanthelpyou commented on #11
v1.8.1-0-gb77614d is still affected

[2015-07-22 22:02] bobcanthelpyou commented on #99
v1.8.1-0-gb77614d is still affected on Firefox OS 2.0 (hamachi)

When Openwapp is closed and a notification appears when new messages are received, a click on the notification does not open Openwapp. Also it does not remove the notification when open Openwapp and read the message there.

[2015-07-22 22:10] bobcanthelpyou commented on #95
@Insurrectionist could you still reproduce this issue with the latest v1.8.1 release?

[2015-07-22 22:11] bobcanthelpyou commented on #68
@Trynight could you still reproduce this issue with the latest v1.8.1 release of Openwapp?

[2015-07-22 22:25] bobcanthelpyou commented on #108
The "no icon" problem is a duplicate of #11

[2015-07-22 22:30] bobcanthelpyou commented on #132
Same issue with v1.8.1

[code]

[2015-07-22 22:32] bobcanthelpyou commented on #126
Same issue with v1.8.1

[code]

[2015-07-24 06:18] Manik3112 opened #150 "Black Screen After Opening"
I Downloaded Openwapp Yesterday in my phone Intex Cloud Fx and found not working properly..
When i open it first time it asked to read memory card, after i confirmed the Black Screen Occurs untill i close it.

[2015-07-24 07:46] bobcanthelpyou commented on #150
Which Firefox OS version does run on your Intex Cloud Fx phone? A restart of your phone does not change that behavior?

[2015-07-24 11:27] Timmaks commented on #150
I think  you found a (l10n) issue with the confirmation screen. Once you have granted the permissions to openwapp you will not see this issue anymore.

Witch version of openwapp do you use, fxos and language?

[2015-07-24 18:27] Manik3112 commented on #150
FFOs is 1.3 nd Even Granting All the Permission it still doesn't work..
Its Seems the Registration Windows isn't Working...

[2015-07-24 20:01] bobcanthelpyou commented on #150
Could you try to connect your phone with the WebIDE of Firefox and post the console output here?

[2015-07-25 17:41] Nairolf21 opened #151 "Can't sign up (Old version, please contact OpenWapp Devs)"
Hi,

I was a happy user of OpenWapp. But, I've moved in the US, and changed my SIM card. Now, I can't sign up with my new phone number...

I'm trying to register, I type my phone number. And during the phone validation process, it's stopped, and I have a pop up which says "Old version, please contact OpenWapp devs".

I don't know how to find the number of version I used. I'm on the ZTE Open C, and

[2015-07-26 07:21] Timmaks commented on #151
You have to check for the new version in marketplace. Fxos->settings->device information->check for updates->check now.

@willyaranda can we use the {{version}}label from the openwapp settings also in the old version warning? Users have no way now to see witch version the have if they hit this warning.

[2015-07-29 10:03] Manik3112 commented on #150
i thought the new version have a problem.. coz i'm using it since last two months..
but i reset my phone.. nd installed it again.. it sucks

[2015-07-29 15:48] willyaranda commented on #151
@Timmaks yes, sure!

or even the currentCommit https://github.com/mozillahispano/openwapp/search?utf8=%E2%9C%93&q=currentCommit

[2015-07-30 07:23] bobcanthelpyou commented on #150
What language do you use on your phone? It is not possible for you to connect your phone with WebIDE of Firefox? https://developer.mozilla.org/en/docs/Tools/WebIDE

* did you restart your phone?
* could you try to setup a different language of Firefox OS?

At the moment i do not run into that issue with Firefox OS Simulator v1.3 and OpenWapp v1.8.1-0-gb77614d. And there is no permission screen for

[2015-07-30 13:36] bobcanthelpyou commented on #66
For every message in a loading conversation the function `message.saveToStorage(..)` is called, could someone explain why that is done? When i remove the `message.saveToStorage(..)` call from [app/scripts/models/conversation.js](https://github.com/mozillahispano/openwapp/blob/master/app/scripts/models/conversation.js#L126), the messages are not loaded when access a conversation for the first time.

[2015-07-30 15:34] LorraineJoubert commented on #121
I seem to have the same problem. Openwapp is supposed to check messages every 5 minutes, or even if set on more. Shows I am offline.Then, when a friends send me a sms, suddenly the whatsapp message comes through.

[2015-07-30 15:37] LorraineJoubert opened #153 "Profile pic"
When configuring, I loaded a profile pic. However, only after uninstall and installing another client(ConnecA2) could friends see my pic - I did not load it again.

[2015-07-30 15:43] LorraineJoubert opened #154 "Can't install: Blocked"
When installing OpenWapp / waiting for validating number, I receive a status fail, reason blocked message

[2015-07-30 18:40] bobcanthelpyou commented on #154
Which OpenWapp and Firefox OS version do you use? What is the complete error message?

[2015-07-30 19:00] bobcanthelpyou commented on #121
@LorraineJoubert are you connected with a Data connection? Does this occurs every time? Could you use other internet sites or web apps while not receiving messages over OpenWapp?

[2015-07-30 19:05] bobcanthelpyou commented on #153
Your friends use the official WhatsApp Messenger? Did you setup the picture while OpenWapp was offline? Maybe it updated the profile picture later when you receive a SMS as you said here: https://github.com/mozillahispano/openwapp/issues/121#issuecomment-126372138

[2015-07-31 07:29] LorraineJoubert commented on #154
I am using the Firefox OS 2.0.0.0 -prerelease.
I am trying to install the OpenWapp version that is on the Firefox marketplace - it does not show which version it is.
"OpenWapp
Oops, error. Message=(
"status": "fail",
"reason": "blocked"
)

[2015-07-31 07:31] LorraineJoubert commented on #121
Yes, I am connected. I am able to connect to the internet -  use other apps/sites. No I could not determine a pattern to when it occurs/not. Even restarting the phone has no impact on it. Closing and opening the app also does not have an impact.

[2015-07-31 07:34] LorraineJoubert commented on #153
Yes, my friends use the official WhatsApp. I set-up the picture when installing OpenWapp. No - the whole 3 weeks I was using OpenWapp they could not see my picture.

[2015-07-31 07:41] LorraineJoubert opened #155 "Message disappears under keyboard"
When turning my phone horizontal, so I can use the keyboard better (keys bigger), the message line disappears under the keyboard. (Now I can type easier, but I can't see what I am typing!). I thought it is a problem with the phone, but the same did not happen with ConnectA2. Unfortunately I am now unable to install OpenWapp, so cannot make a screenprint.

FF 2prerelease
Phone's battery is Alcatel

[2015-07-31 09:05] Timmaks commented on #154
As i read in the various  issues you filed (thanks!) You have also used connecta2, if you use at the same time or request often a activation  code you get blocked by WhatsApp.  This means you have to contact them to get activated, but remember openwapp and connecta2 are not a official client and you are violated their user agreement by using it

[2015-07-31 09:05] #154 closed

[2015-07-31 09:08] bobcanthelpyou commented on #154
I think i got blocked before and i had to wait for some days or weeks to get unblocked again. I didn't contact WhatsApp.

[2015-07-31 09:09] Timmaks commented on #121
It looks like the check messages code doesn't  work as wanted. Can someone have a look at?

[2015-07-31 09:12] Timmaks commented on #154
Are you saying that you can register when you use connecta2 but not when you use openwapp?

[2015-07-31 09:15] Timmaks commented on #155
The code of openwapp was writen with the landscape mode off and on request of users they turned it on afterwards.

[2015-07-31 09:18] bobcanthelpyou commented on #155
What screen size does your phone display has? What version of the Alcatel One Touch is it?

I tested it with my Alcatel One Touch device (Firefox OS 2.0) and with Firefox OS Simulator 1.3 both look similar to the following screen shot

![bildschirmfoto von 2015-07-31 11 11 43](https://cloud.githubusercontent.com/assets/4523264/9004365/a8e80ec2-3775-11e5-8721-02005bd2ec15.png)

[2015-07-31 09:21] Timmaks commented on #153
This is strange, if your picture is appearing when you use a other client without setting is again it means that your picture was in your profile on the whatapp servers. The different clients does not use the same local profile.

We need confirmation on this from someone else

[2015-07-31 13:57] LorraineJoubert commented on #154
No, because of the issues I had with OpenWapp, I moved to Connecta2. OpenWapp uninstalled itself then. Connect A2 suddenly could not "connecting to the network " the whole day. I uninstalled and re-installed but received a message that it is   "unable to send sms". So then I tried OpenWapp.

[2015-07-31 13:59] LorraineJoubert commented on #154
OK, but how on earth do I know what whatsapp user agreement is, as they do not have an app for Firefox.

[2015-07-31 14:07] LorraineJoubert commented on #155
The screen is 100X55mm. I do not know what version of Alcatel it is, it is not written on the phone, or in the device information. The only info about the phone is on the battery.

[2015-08-01 19:05] nicholascamp opened #156 "Logged out & can't log in back (status: fail, reason: blocked)"
{
"status": "fail",
"reason": "blocked"
}

I was using OpenWapp normally, when I was unable to send messages, so I closed it and opened again. A screen asking me to register again appeared, and I was unable to do it because the above error message. Could you tell me what's going on? Thanks in advance.

[2015-08-01 19:15] bobcanthelpyou commented on #156
Are you using the latest version of OpenWapp from the Marketplace, could you check for updates? And did you try to use a different Wapp client? Or did you do something every different? What Firefox OS version and phone do you use?

[2015-08-01 19:24] nicholascamp commented on #156
LG D300 Fireweb, Firefox OS v1.1. Yeah, I think it's the latest OpenWapp. I am with internet and no updates are showing. When I could not connect to OpenWapp, I tried Loqui IM, without success.

[2015-08-01 19:49] bobcanthelpyou commented on #156
It could be the problem that you tried to use Loqui IM, switching between devices (or clients which act as different devices) in a short time could block your number for some time.

When apps have problems with their functionality, sometimes it helped to restart my Firefox OS device.

I will try to get blocked, too. Let you know when i found a way to get unblocked.

[2015-08-01 20:18] nicholascamp commented on #156
I only used it when I was unable to reconnect (and got the error). I restarted the phone and still can't connect

[2015-08-01 20:21] bobcanthelpyou commented on #156
How are you connected? Wifi or mobile data connection?

I tried to reproduce a blocked error message but i only receive the following when requesting to much confirm codes in a short time

![index](https://cloud.githubusercontent.com/assets/4523264/9023445/83798388-389b-11e5-8564-bb612719fcac.png)

[2015-08-01 20:24] nicholascamp commented on #156
Wifi.

[2015-08-01 20:34] nicholascamp commented on #156
Is there a way to force the verification of apps updates?

[2015-08-01 20:52] nicholascamp commented on #156
I went into configurations > informations > software updates and 3 apps got updates, but none of these was WhatsApp related (OpenWapp, Loqui IM).

[2015-08-03 14:54] willyaranda commented on #156
Blocked is because WhatsApp blocked your number. We can't do anything right now about that. If you contact WA, you will be told that OpenWapp is not supported.

You can wait for unblock a few days

[2015-08-03 15:00] nicholascamp commented on #156
Why was I blocked?

[2015-08-03 15:15] willyaranda commented on #156
OpenWapp is NOT an official app. You might be blocked for using this app, because you are not following their terms of service (https://www.whatsapp.com/legal)

[2015-08-03 17:06] nicholascamp commented on #156
Understood. Thanks for the information. Hope that it get back soon. Do you have an idea how long will it delay?

[2015-08-06 04:18] nagaprakashv commented on #150
Me too facing the issue.
There is no problem for me with previous version of Openwapp. Now only updated to current version and provided all of permissions. But, the registration page have some bug i think.
Using Spice Mi-fx1 running on a Indian version of fxos (1.3) and the language in setting is only English.
Help me...

[2015-08-07 06:22] nagaprakashv commented on #150
I'm sure it's not a handset problem...

[2015-08-07 08:47] bobcanthelpyou commented on #150
@nagaprakashv and @Manik3112 could you please try to connect your phone to Firefox WebIDE and check the console output of Openwapp there? Maybe there are some useful error messages or something else about that issue.

[2015-08-07 16:44] nicholascamp commented on #156
Still blocked.

[2015-08-07 17:22] Timmaks commented on #132
For me the problem is fixed . I not sure if whatsapp has chnaged things back or that it is my update to the latest 2.5 nightly version of firefoxos.

Can you check?

[2015-08-08 10:48] Trynight commented on #132
With 2.0 i have the same problems... I will update to 2.5 today

[2015-08-08 11:18] Trynight commented on #68
![2015-08-08-12-56-52](https://cloud.githubusercontent.com/assets/4656862/9150261/dda6f096-3dcf-11e5-860a-b031f1ab6dca.png)
![2015-08-08-12-56-46](https://cloud.githubusercontent.com/assets/4656862/9150262/dda866ba-3dcf-11e5-8925-fa6134e69cef.png)

Ultimate version of OpenWapp...

[2015-08-08 11:32] Trynight opened #157 "Can't receive message from Android (FFOS 2.0)"
![11857546_656953087773780_348093581_n](https://cloud.githubusercontent.com/assets/4656862/9150291/bbc38a0a-3dd1-11e5-9f86-a60a485eba31.jpg)
![2015-08-08-13-29-31](https://cloud.githubusercontent.com/assets/4656862/9150292/bbcc6d46-3dd1-11e5-807d-11c2d4452a27.png)

The same problem on LoquiIM.... who else have this problem?

Firefox2.0-prerelease (i will update to 2.5 today)

[2015-08-08 12:04] bobcanthelpyou commented on #68
How do you delete your chat history? Go to your Inbox and keep touching a chat or a group to delete it. (longer then for enter a chat) and you will see a prompt to delete it completely.

![png image 320 x 539 pixels](https://cloud.githubusercontent.com/assets/4523264/9150362/c211f82a-3dd5-11e5-8951-6694e0a0a845.png)

[2015-08-08 14:18] Trynight commented on #68
I can't delete single message...only all... is little annoying

[2015-08-08 14:58] bobcanthelpyou commented on #68
It does not work to 'touch' a single message for a while until the following message appear and to delete it?

![png image 320 x 539 pixels](https://cloud.githubusercontent.com/assets/4523264/9150851/63ddcadc-3ded-11e5-82ee-bef72a877851.png)

Could you describe a little bit more detailed what the issue is you running into?

doesn't sound like

Is your problem possibly described at issue #95?

[2015-08-08 19:39] Trynight commented on #157
tested with 2.5 ... nothing changed

[2015-08-08 19:45] Trynight commented on #132
Ok the problem still exist with 2.5 .. I need to open/close the group many times to show contacts

[2015-08-08 20:08] Timmaks commented on #132
Looks like whatsapp is messing around, it worked this morning but now it is broken again and i did not change anything

[2015-08-08 21:39] bobcanthelpyou commented on #132
Maybe it is related to issues where loading of the groups take a lot of time like #66

[2015-08-09 00:09] Trynight commented on #68
Yeah, i can't delete the single messages.. they duplicated themself and the chat take really much time to load

[2015-08-09 00:10] Trynight commented on #157
i can't receive messag from iOS Whatsapp too

[2015-08-11 18:13] cmeerw commented on #121
I am seeing similar behaviour with loqui and I think I now understand what's happening: when the phone is sleeping, it only briefly wakes up when receiving data from the socket, but it doesn't always stay awake long enough to be able to fully process and acknowledge an incoming message resulting in the WhatsApp server to close the connection (functions being chained together by "setTimeout" in cos

[2015-08-12 13:58] Timmaks commented on #132
And now it is ok again for me

[2015-08-12 18:30] Artox commented on #114
Same here. FirefoxOS 2.0, Alcatel tonetouch fire e.
Story: worked fine for several days, with 3g always on.
Then 3g was off for a few hours as I had to save on battery life, and since then, openwapp has been offline no matter if I connect to wifi, 3g, restart phone, restart openwapp ....

Reinstalled, and then still not working. After entering the sms code, I am again at the offline message, and i

[2015-08-12 19:34] Artox commented on #114
However here is the curious part: I can't reproduce with a self-compiled build of today.

[2015-08-13 11:55] adriaon commented on #124
how can i help?

[2015-08-13 11:59] adriaon opened #158 "Loading contacts in group doesn't always work"
Often, in a group, the loading of the contacts never completes. There is just the message 'Loading contacts...' and posts list a phone number in stead of a name.

[2015-08-13 18:02] Timmaks commented on #158
Thankz for reporting this issue but this is a dupe of #132

[2015-08-13 18:02] #158 closed

[2015-08-14 07:42] boina opened #159 "Forward msg option request"
Obviously this is not a bug. I would love to be able to forward msg from one conversation to a different one.

Thanks!!

[2015-08-14 11:04] JayVii commented on #159
indeed. the lack of copy-&-paste on older FxOS devices, makes forwarding a valuable feature

[2015-08-18 17:18] Charlywhat commented on #157
Same thing here, I can send messages, but cannot receive them.
Alcatel OT Fire E (Firefox OS v2.0)

[2015-08-20 15:00] Trynight commented on #157
@Timmaks @willyaranda

[2015-08-28 12:36] marlichin opened #160 "marlichin"
Mi

[2015-08-28 12:38] marlichin commented on #160
El whatsapp nosirvela aplicación openwapp

[2015-08-28 12:41] marlichin commented on #160
Me pide código para entrar

[2015-08-28 20:49] #160 closed

[2015-09-17 16:08] Loirooriol commented on #153
I have this problem too. I loaded a profile pic using OpenWapp but other people (with official WhatsApp) can't see it. If I start a conversation with myself, I don't see it neither. But when I go to configuration in OpenWapp, the image is there.

[2015-09-17 16:29] Loirooriol opened #161 "Send messages with Enter key"
I use OpenWapp on a Firefox OS Simulator on a PC. So I write messages using the physical keyboard.

The problem is that OpenWapp requires me to click the send button with the mouse in order to send the message. And that's annoying.

Instead, I want to be a able to send by pressing the Enter key. So I added the following code to `compose-message.js`

[code]

But of course it would be better if Open

[2015-09-24 19:29] Loirooriol opened #162 ""Loading conversations..." message never disappears"
The "Loading conversations..." doesn't disappear even if all conversations have been loaded.

I debugged and the problem is

1. In `scripts/collections/history.js`, `_syncGroups` uses `global.client.getGroups` to get the list of groups.
3. In my case the list of groups is an array with one one item: `{ gid: null, subject: "" }`. (In fact I have two groups, but it seems internally they are treated

[2015-09-26 21:37] Loirooriol opened #163 ""Loading contacts..." message never disappears"
The problem is that

1. `onGroupParticipantsReceived` in `client.js` receives `list = [null]`.
2. That array is passed to `_onParticipants`  in `client.js`
3. That array is passed to `_showPhones`  in `conversation.js`
4. That function iterates the array and does `item.split('@')[0]`

Since the item is `null`, that throws.

I changed it to
[code]

Then there is no error and the message disappears,

[2015-09-27 19:04] Loirooriol commented on #163
This is solved by [this commit in coseme](https://github.com/mozillahispano/coseme/commit/f4351cc03ff6bbf921ae78a55e2622ac1b2c1ee5).

Previously `parseGroupInfo` only sent this data:

[code]

Now it also sends an array of participants:

[code]

Therefore, OpenWapp should be modified to use that data.

[2015-09-29 15:42] Loirooriol commented on #162
Fixing coseme.js with [#24](https://github.com/mozillahispano/coseme/pull/24) and [#25](https://github.com/mozillahispano/coseme/pull/25) should solve this problem.

[2015-10-17 13:51] SwarnaKishore opened #165 "Old version, please contact OpenWapp devs"
I could see that the errors is set in properties for 'registerErrorOldVersion' but I just installed OpenWapp from Firefox Marketplace. Any thoughts?

I am using Firefox Open device.
If there is anymore information that could help debug, please let me know

Thanks!

[2015-10-17 22:46] philip13 commented on #165
I have the same problem, went I want to sign-up say: "Old version, please contact OpeWapp devs"

[2015-10-24 17:40] tripad commented on #150
@bobcanthelpyou Having the same issue

This my console output
[code]

Device : ZTE Open C
B2G 2.5.0.0-Prerelease Nightly Build

Tried changing locale to EN-GB still doesnt go past the blank screen

[2015-10-24 17:57] Timmaks commented on #150
thanks i think i know the problem now, will fix it soon.

[2015-10-25 18:27] #163 closed

[2015-10-26 12:52] Himra commented on #127
I have the same Problem on OpenWapp 1.8.x build, device ZTE Open C with FOS version 2.2

[2015-10-26 17:23] Timmaks commented on #157
this should be fixed in version 1.9.0

[2015-10-26 17:23] #157 closed

[2015-10-27 19:36] telefrancisco commented on #162
This is happening in 1.9.0: https://twitter.com/djoerd/status/659066284936667136

[2015-10-27 19:42] Timmaks commented on #162
thanks @telefrancisco we have noticed this problem also and working on finding the problem

[2015-10-27 20:53] Loirooriol opened #166 "No conversations in 1.9.0"
Openwapp 1.9.0 fails to load the conversations. See https://twitter.com/djoerd/status/659066284936667136

The cause is at line 56 of contact.js:

[code]

The problem is that there is no `creator` attribute, so `this.get('creator')` returns undefined. And attempting to call a method of undefined throws.

The culprit is https://github.com/mozillahispano/openwapp/commit/e4df71af47e1da874a64492cea6459

[2015-10-27 20:59] Loirooriol commented on #162
@telefrancisco That is a different bug, I have filed #166

Once that is fixed, the change in coseme solves this one in 1.9.0.

[2015-10-27 20:59] #162 closed

[2015-10-27 21:01] telefrancisco commented on #162
@Loirooriol Thanks for all. Let's hope to see this solution soon in the Marketplace.

[2015-10-28 10:15] willyaranda commented on #166
Backed out in 93cbd769167b53b2539108f2fd93f1875aadece7

Thanks!

[2015-10-28 10:15] #166 closed

[2015-10-29 22:44] Loirooriol commented on #153
Updating to version 1.9.0 fixed the problem for me.

[2015-10-29 22:52] Loirooriol opened #167 ""Last seen" date is totally unreliable"
Steps:

1. Open a conversation.
2. See the "last seen" date.
3. Close the conversation.
4. Open the same conversation again.
5. Compare the new date with the previous one.

The result is that each time you open a conversation, the last seen date varies a lot. For example:

1. 18:19 11 Oct
2. 18:48 22 Oct
3. 06:29 26 Oct
4. 19:49 3 Oct

[2015-10-30 19:54] xev2000 commented on #165
Hello;
since the update on 25th October, I need to sign in again and when  I try it says "Old version, please update or contact OpenWapp devs"
with the 10/28 update it's the same, restarting the smartphone couldn't help either
OS is FFOS 1.3 on ZTE
any suggestions how I can update manually?
Thanks in advance

[2015-11-03 09:51] Timmaks commented on #150
this should be fixed with commit 21083c9bc2bd311c7a4e6798ea4c32ea4440dd35

[2015-11-03 09:52] Timmaks commented on #150
please reopen if it still exist in the next version on marketplace

[2015-11-03 09:52] #150 closed

[2015-11-03 12:19] Timmaks commented on #151
This error screen has now a versionnumber, commit 60fb22fa3634ef9aa7f40d872f4d01c8d13c7c03

[2015-11-03 12:19] #151 closed

[2015-11-03 15:27] Timmaks commented on #156
If you still have problems please reopen

[2015-11-03 15:27] #156 closed

[2015-11-03 15:27] #153 closed

[2015-11-03 15:30] Timmaks commented on #132
I suspect this is fixed with the latest coseme changes,  please reopen if it is still a issue

[2015-11-03 15:30] #132 closed

[2015-11-03 15:46] Timmaks commented on #121
This is now fixed with the latest coseme, please reopen if you still have this issue

[2015-11-03 15:46] #121 closed

[2015-11-03 17:56] Timmaks commented on #114
please check if you still have this issue with the latest version, and reopen if needed

[2015-11-03 17:56] #114 closed

[2015-11-05 16:38] MartinSauer opened #168 "New registration ended with `undefined´"
latest OpenWapp on Firefox Aurora (2.2).
I typed in the code sent via SMS from WA and received a message "OpenWapp, undefined" on a black Screen. The code was ok. On original WA on my second mobile the registration succeeded.

[2015-11-06 00:59] Omega246 opened #169 "Cant connect to the Network, Registration fails"
Hello folks,
First: Sorry for my bad english. ;)

Data: Firefox OS 2.0
Alcatel onetouch Fire E,
latest Openwapp Version 1.9.1-0-g7c6d673

It happend today. My moblie phone couldnt connect to the Network. Ist was offline. I restarted the App and the registration screen appeared.
I tried to registrate my phone many times, but every time it cant conect to the network (the Inbox ist loading vor 4 secs

[2015-11-06 08:11] jambolo1970 commented on #169
confirm ,same problem from italy

[2015-11-06 09:11] adriaon commented on #169
confirmed (Flame).

[2015-11-06 10:14] Timmaks commented on #169
Can someone try to replicate this issue using webide and post the log here?

[2015-11-06 13:27] jssCAT commented on #167
Hi! I have the same problem (Alcatel OT Fire E).

[2015-11-06 13:37] jssCAT commented on #169
Yes, I also have the same problem (Alcatel OT Fire E).

[2015-11-06 15:01] Omega246 commented on #169
@Timmaks

I tried it now for 2 hours. My Windows 7 Pc+ Webide couldnt find The Phone.

I read this: https://developer.mozilla.org/en-US/docs/Tools/WebIDE/Troubleshooting
and followed the instructions.

and after i installed some drivers in a wierd way (http://pichoster.net/image/UZy), now Webide find the Phone. But if i try to open the OpenWapp App or any other app i get:

Error1: http://pichoster

[2015-11-06 15:01] bidaian commented on #169
I can replicate it, but I see no debugging info from OpenWapp when using WebIde (after this[1]). I also tried 'adb logcat' but there's no openwapp information to be seen, just generic wpa, b2g stuff.

[1] https://developer.mozilla.org/es/docs/Tools/WebIDE/Troubleshooting#Activando_el_log

[2015-11-06 17:43] cmeerw commented on #169
You'll likely want to have a look at https://github.com/loqui/im/commit/648926c6b19d66fddc7d2fb8b7bb23fc3e94e7cd

[2015-11-06 22:41] inytar commented on #169
I can reproduce using the webide. Using a Alcatel OT Fire E (6015X):
The log:
[code]

The GETs are when trying to registrate. They return:
[code]
@Timmaks Anything else you need?

[2015-11-06 23:17] Loirooriol commented on #169
See  Loqui IM's [\[WhatsApp\] suddenly stopped connecting, and SMS verification fails #872](https://github.com/loqui/im/issues/872).

[2015-11-07 01:20] jssCAT commented on #168
Hi,

I think that the problem is the same that this one:
https://github.com/mozillahispano/openwapp/issues/169

When I tried to reinstall the app, it wasn't possible to use the app with the code sent via SMS.

For the moment, it seems that it's not possible to connect to the network. If you want, you can take a look to the different messages that will be published here, in the "Issues" section, du

[2015-11-07 07:45] jambolo1970 commented on #169
@Loirooriol  not function even Loqui IM, both they require properly texting but do not accept the code and return to the reintegration of the Code xxx-xxx

the log in console webIDE of OpenWapp:
OpenWapp: getting the seed. client.js:38
 *** currentView has NOT been cleared router.js:214
OpenWapp: getting the seed. client.js:38
[auth] Logging in... auth.js:69
Already authenticating. Aborting. clien

[2015-11-07 15:55] Loirooriol commented on #169
Fixed by [pull #31](https://github.com/mozillahispano/coseme/pull/31/commits).

[2015-11-07 18:09] Gabgo opened #170 "Doesn'T work..."
Hi! I've installed this app but when I open it shows a white screer and do anything else. What can I do? Firefox os alcatel. Si'm sorry about my poor english. Thanka a lot!

[2015-11-07 18:39] jssCAT commented on #170
Hi,

For the moment, it seems that it's not possible to connect to the network. If you want, you can take a look to the different messages that will be published here, in the "Issues" section, during these days. Probably, will appear in brief a notification announcing that the problem have been solved. I think that developers are working on it.

Greetings!

[2015-11-07 19:37] #170 closed

[2015-11-07 20:03] #165 closed

[2015-11-07 20:40] Timmaks commented on #169
This sould be be fixed with the new version 1.9.2 (coming soon to the marketplace)

[2015-11-07 20:40] #169 closed

[2015-11-07 20:41] Timmaks commented on #168
This would be fixed with version 1.9.2, if not please reopen

[2015-11-07 20:41] #168 closed

[2015-11-07 20:43] Timmaks commented on #127
This is fixed in the current version

[2015-11-07 20:43] #127 closed

[2015-11-07 20:58] Timmaks commented on #126
This is fixed in the current version

[2015-11-07 20:58] #126 closed

[2015-11-08 10:20] Timmaks commented on #137
Manifest discription is now in transifex

[2015-11-08 11:13] Timmaks commented on #169
New version is now aviable in Marketplace

[2015-11-08 11:13] Timmaks commented on #170
New version is now aviable in Marketplace

[2015-11-08 11:13] Timmaks commented on #168
New version is now aviable in Marketplace

[2015-11-08 11:37] Timmaks commented on #137
Marketplace discription is now in transifex

[2015-11-08 12:06] adriaon commented on #169
👍

[2015-11-08 19:25] naitsirch commented on #127
confirmed. Thanks!

[2015-11-09 09:55] Timmaks commented on #109
@duesenfranz are you planning to fix this issue?

[2015-11-09 09:56] Timmaks commented on #108
Can you check if this is still a issue in the current version?

[2015-11-09 10:01] feklee commented on #108
Hard to tell because the issue appeared randomly, maybe only once, and I don't use WhatsApp anymore.

[2015-11-09 10:04] Timmaks commented on #108
ok thanks, closing. Please reopen when anyone sees this issue again

[2015-11-09 10:04] #108 closed

[2015-11-09 14:40] MartinSauer commented on #168
Thanks,

I installed the new version. But now I can only receive messages posted
into groups. Messages from single users don´t reach me. Tested with
different users using originla WA on android.
Sending is all fine.

Viele Grüße,
Martin Sauer

Am 08.11.2015 um 12:13 schrieb T.M. van den Broek:

[2015-11-09 14:45] MartinSauer opened #171 "can only receive messages posted into groups"
I installed the new version1.9.2. But now I can only receive messages posted into groups. Messages from single users don´t reach me. Tested with different users using originla WA on android.
Sending is all fine.

(FFOS 2.2. on Open C)

Greetings, Martin

[2015-11-09 15:22] Gabgo commented on #170
Thanks a lot!!
best regards!!

2015-11-08 8:13 GMT-03:00 T.M. van den Broek <notifications@github.com>:

[2015-11-09 16:14] bidaian commented on #3
How about adding a button to the UI to manually (and blindly) reconnect? There'd be no battery issues and we would have a way to reconnect other than closing/opening, reboot or uninstalling/reinstalling.

[2015-11-09 21:44] cmeerw commented on #171
If you happen to have an Android phone with WhatsApp handy, could you send a test message to +447961596923 please?

[2015-11-09 21:51] Timmaks commented on #171
Just send

[2015-11-09 21:53] Timmaks commented on #171
Have blue ticks so whatsapp tells me you read it...

[2015-11-09 22:31] cmeerw commented on #171
Thanks a lot @Timmaks - it looks like I might have a fix for this issue. Essentially, we need to reply with an error when receiving an encrypted message and then get the plaintext message delivered.

[2015-11-10 00:44] Kiude commented on #165
Hi everyone! I have the same problem described above. I understand that the upgrade has been released yesterday. My question is about the upgrading process: is there a direct upgrade option on the marketplace, or should i manually uninstall and re-download the app?
More important: will my data be safe if I do so?
 Thanks in advance! :)

[2015-11-10 08:27] Timmaks commented on #165
Don't uninstall the old version! This will delete your data. Restart your phone and the marketplace will promt for a update.

[2015-11-10 08:30] Timmaks commented on #171
Great news, looking forward to the PR :)

[2015-11-10 08:33] Timmaks commented on #124
Can someone please verify if this is still a issue?

[2015-11-10 08:35] Timmaks commented on #116
@naitsirch are still working on this issue?

[2015-11-10 08:37] Timmaks commented on #68
@Trynight do you still have this issue in the current version?

[2015-11-10 08:39] Timmaks commented on #95
Closing because no answer from the reporter, please reopen if you still see this issue

[2015-11-10 08:39] #95 closed

[2015-11-10 08:41] Timmaks commented on #79
Does this issue still exist in the current version?

[2015-11-10 10:20] jesobreira opened #172 "Unable to receive registration code"
I'm unable to receive the registration code by SMS or phone call.

I'm from Brazil, my carrier is Oi and I didn't have problems using Disa on Android.

No error is show. It just tells me to wait for the code and enter it on the fields, but its never received.

I could never use OpenWapp. I'm on a LG Fireweb running FxOS 1.1.

Registration is actually broken or that's just with my number?

[2015-11-10 10:49] Kiude commented on #165
Hi! Thanks @Timmaks, I was very suspicious about uninstalling. Now I know! :)
OK, I tried rebooting the phone, opening several time the marketplace, openwapp itself but at no moment a message of re-upgrading appeared.. I am so close to having the problem solved, so frustrating! Haha

[2015-11-10 10:55] cmeerw commented on #165
@Kiude what phone do you have? Is it by any chance a ZTE Open C with the original 1.3 firmware?

[2015-11-10 11:02] Timmaks commented on #165
And if you go to settings, Device information,  check for updates?

[2015-11-10 11:17] Kiude commented on #165
Hi @cmeerw!  Sorry I should have said it at the beginning: I have indeed an Open C with the 1.3.0.0
when I ask for updating the OS with the app-button on the desktop,  it says I am at the most recent version.

[2015-11-10 12:06] Omega246 commented on #165
@Kiude I dont know if you want to upgrade your phone, but if you consider it, you should look at this page:
http://builds.firefoxos.mozfr.org/doc/en/devices/zte-open-c?redirect=1

Maybe some devs here know a better way. But for me it worked quite nicely. (Until i lost my phone. :(  )

[2015-11-10 12:07] cmeerw commented on #165
You could give this one a try:

  http://download.cmeerw.net/fxos/CheckUpdate-1.2.zip

You'll need to unzip and install it through WebIDE to your phone, also
see https://bugzilla.mozilla.org/show_bug.cgi?id=1030626

[2015-11-10 19:43] naitsirch commented on #116
Not really, I am currently very busy.

[2015-11-10 20:33] Kiude commented on #165
Interesting link @cmeerw ! I believe your CheckUpdate app is the solution! I had to wait for access to a computer, I am now busy with making my device recognized on WebIDE (newbie here..). I'll get back to you once I test the app.

[2015-11-11 09:05] MartinSauer opened #173 "auto switch between WLAN and mobile internet (enhancement)"
it´s annoying to come home, the mobile connects via WLAN and OpenWAPP is offline. So I have to shutdown and start the app.

[2015-11-11 23:17] telefrancisco commented on #79
For me the problem is solved.

[2015-11-12 09:30] Timmaks commented on #79
Great, closing.

[2015-11-12 09:30] #79 closed

[2015-11-13 20:06] Timmaks commented on #116
to bad, anyone else who wants to work on this?

[2015-11-13 20:12] Timmaks commented on #172
As far as i can tell is the call for a registration ok  at this moment, are you sure you add your number ok?

[2015-11-15 05:20] jesobreira commented on #172
Yes. It worked with Loqui IM (I could receive the code through call - not SMS - but with Loqui the messages weren't being showed, so I still can't use Whatsapp on my phone). With OpenWapp, however, I could not receive the code in any way.

If it helps, plz tell me your email address so I send my phone number.

[2015-11-15 07:36] cmeerw commented on #172
@jesobreira Was this the Loqui version from the marketplace you tried? Would you be able to test the current development version of Loqui (to see if you can receive messages with that version)?

[2015-11-17 15:38] bobcanthelpyou commented on #124
I am sorry, i can't help to test, i don't have a Whatsapp account at the moment

[2015-11-17 21:46] naitsirch opened #175 "localisations/translation does not contain all available locales"
`app/scripts/localisations/translation.js` starts with the comment

it contains only one locale, which is "en-US".
In `app/scripts/utils/language.js :: getLanguage` this collection is used to check if the system's locale is valid. But the expression is always `false` except for `en-US`. Is this behaviour wanted?

[2015-11-17 22:16] Timmaks commented on #175
Yes. Localization was done by this scipt in the past and is now done witl the l10n.js script from gaia. But the build is failing if i totally remove this script and my knowledge of it is not good enough to remove (find) all the calls to this script. If you can remove it you are welcome.

[2015-11-18 07:33] naitsirch commented on #175
Okay, but we need a way to check if the user's locale is one of the available localizations. I have not dived into the l10n.js script so much, yet, but maybe [this function](https://github.com/mozilla-b2g/gaia/blob/B2G_2_2_20151029_MERGEDAY/shared/js/l10n.js#L1587) will be helpful.

[2015-11-18 08:10] Timmaks commented on #175
the l10n.js does check it, when the locale of the phone is not available in openwapp it will default to en-US. we only need to remove the last parts of the old l10n system, the folder localization, i removed almost everything except this file because it is called from somewhere else. As i understand now from language.js.  So probably this file need to removed also.

[2015-11-18 18:05] cmeerw commented on #171
Please see loqui/im#882 for the coseme changes that have been implemented in Loqui.

[2015-11-18 18:57] naitsirch commented on #175
Yes, but my goal was to replace the hardcoded locale 'es-ES' in `app/scripts/views/login.js :: register` function ;-) to achieve that, I need the user's locale.

But I think it is also possible to get the locale from `navigator.language`.

[2015-11-22 03:43] jesobreira commented on #171
I can confirm the same problem on Firefox OS 1.1 (LG Fireweb) with latest OpenWapp version as of today (just downloaded it).

[2015-11-22 04:24] jesobreira opened #178 "Bugs on FxOS 1.1"
I tried running it on LG Fireweb (Firefox OS 1.1 - the only version of FxOS being sold in many countries, like mine) and I noticed some bugs. No sure if these bugs exist only on v1.1. I've used the latest version as of today (just downloaded it).

* **The chat log does not show:** when chatting or opening a chat with someone, it's not possible to see the received messages. However, when I send a m

[2015-11-22 04:26] jesobreira commented on #172
Hi, thanks for the attention!

Today I could receive the code by SMS. Nothing was done by me, tho. I guess it was some update (?).

I could even contribute with a better pt-br l10n ( #177 ), as it's too confusing. However, I faced more problems. To don't mix up the things, I've filled a new issue: #178

[2015-11-22 04:42] #172 closed

[2015-11-22 07:05] wbrawner opened #179 "Messages are sent but not received"
I've tested this with several of my contacts, they receive the messages I send but I never receive any that they send to me, with message checking intervals set to 5 min or 1 min. I haven't tested other intervals

[2015-11-22 08:07] Timmaks commented on #179
Dupe of #171

[2015-11-22 08:07] #179 closed

[2015-11-23 08:05] Timmaks commented on #171
this should be fixed in the new version 1.9.4, please reopen if you still see this problem

[2015-11-23 08:05] #171 closed

[2015-11-23 08:08] Timmaks commented on #161
can you make a PR of this and add  a checkbox in the profile?

[2015-11-23 08:09] Timmaks commented on #83
Is this still a issue with the latest build?

[2015-11-23 09:11] Loirooriol commented on #161
I thought about that. But how do I store the preference? `localStorage`? Does OpenWapp have some API to manage preferences?

[2015-11-28 11:37] tonybenoy commented on #3
Still getting the issue is there some kind of workaround for this?

[2015-11-29 10:41] delapuente commented on #161
Modify this model: https://github.com/mozillahispano/openwapp/blob/master/app/scripts/models/auth.js

[2015-11-30 10:33] adriaon opened #181 "stopped working here->Sign-up>failed/blocked"
When I open the app I get the Sign-up screen. When I try to sign-up i get

Oops, error. Message={"status": "fail", "reason": "blocked" }

Cheers.

[2015-11-30 10:50] Timmaks commented on #181
Have you used a other client the last days? This message mean you are blocked by whatsapp and that is something we can not change. Wait a few days is sometimes the solution

[2015-11-30 10:52] #175 closed

[2015-11-30 11:39] adriaon commented on #181
Not used another client. Will wait a bit.

[2015-12-01 19:15] Loirooriol commented on #161
@delapuente Thanks for the link, but that `authStorage` seems asynchronous, and I needed to get the preference synchronously in order to decide whether the event should be cancelled.

I saw the `awakePeriod` preference is synchronously stored through `global.backgroundService`, but that didn't seem a good place to store my send-by-enter pref.

Since `backgroundService` stores `awakePeriod` using `

[2015-12-11 13:57] aepsil0n opened #186 "Access WhatsApp web"
[WhatsApp web](https://web.whatsapp.com/) tells a user to scan a QR code using the app. Is there any way to do or work around that using openwapp?

[2015-12-12 20:09] willyaranda commented on #186
Hi!

We have not prioritized this, and I don't know the underlying protocol about it. It could be possible, of course, but really really low.

[2015-12-18 13:17] naitsirch commented on #72
I have created a PR, which addresses this feature ;-)

[2015-12-18 14:39] adriaon commented on #181
Still blocked :-(. Should I try offcial client?

[2015-12-18 20:10] Timmaks commented on #181
you can try

[2015-12-18 20:14] Timmaks opened #188 "No text with send images"
If someone send a image or video with a textmessage in the same message (from the official client) we don't show this message

[2015-12-18 20:16] Timmaks opened #189 "contactinfo (vcard) not showed"
When someone send the contact info from a whatsapp contact it is not showed in openwapp

[2015-12-19 00:03] cmeerw commented on #188
A debug log of how the message XML looks like would be useful (although there could be a problem that the XML gets truncated in the default debug log because it contains the image thumbnail)...

[2015-12-19 14:39] telefrancisco commented on #72
Very nice. @willyaranda / @Timmaks can you please merge it and release a new version so we can test it? Thanks.

[2015-12-19 16:11] adriaon commented on #181
I tried with the offical app on an old phone. Still banned, so I contacted WhatsApp Support. They replied with

[..]
Your WhatsApp account was banned because you violated our Terms of Service and were using an unauthorized application and/or unsupported device.
[..]
Should we determine that your actions continue to violate our Terms of Service, your account will be permanently banned and there wil

[2015-12-26 16:20] Timmaks commented on #188
received image from Object { msisdn: "12345678", displayName: "", authorMsisdn: "💎🐬" } Object { date: Date 2015-12-26T16:13:35.115Z, sentDate: Date 2015-12-26T16:13:35.000Z, commId: "30D4E71C0D15E7B3E13", type: "image" } Object { caption: "", uri: "https://mmi744.whatsapp.net/d/mjBiO…", thumbSrc: "data:image/jpeg;base64,/9j/4AAQSkZJ…" }

[2015-12-26 16:22] Timmaks commented on #188
i added a caption "test" to this image

[2015-12-26 16:26] Timmaks commented on #181
i am really sorry that  you have this problem.

I and many other don't have a problem with using a unauthorized app and Whatsapp and i don't understand why you encounter this. I don't give you any advice on this, you must decide if it is worth the risk to get banned

[2015-12-26 16:26] #181 closed

[2015-12-28 14:35] naitsirch commented on #66
I think the problem is, that the names are loaded by `global.contacts.getParticipantName()`, when the message view's render method is called. But the contacts are loaded asynchronously in `views/conversation.js._updateParticipants()`.

Now, when `getParticipantName()` is called, and the asynchronous loading is not yet completed, the contacts could be found (if they have not alredy been loaded into

[2015-12-31 16:21] EGhiorzi opened #190 "Remove Openwapp's own emoji support, as Firefox OS 2.6 natively supports emoji"
Openwapp's own emoji support may be removed, as Firefox OS 2.6 natively supports emoji, to reduce code complexity and better integrate Openwapp with the OS.

This is clearly not happening any time soon, as most Firefox OS's (and thus Openwapp's) users are running old Firefox OS versions which have no emoji support. Would it be feasible to create two versions of Openwapp, one retaining compatibilit

[2016-01-01 07:16] bidaian opened #191 "I get only first second of audio messages"
Whenever I try to listen to an audio message, I get the player screen (unknown title) and it only plays the first second of audio. The total time stays at --/--

Any idea on why this could happen? Anything I could try to fix it?

Firefox 2.2 on Keon, Openwapp  version 2015.11 .

[2016-01-01 08:20] bidaian opened #192 "Please add plural forms"
There are two pretty frequent strings:

"You have {{count}} new messages."

and

"From {{count}} conversations."

that are gramatically incorrect, at least in Spanish, Portuguese and Dutch when count=1. Esperanto tries to cover both count = 1 and count != 1 but the result is not visually pleasing. And, again, that text is shown a lot, often with count = 1.

Could you add the plural forms? Gaia sol

[2016-01-01 09:09] Timmaks commented on #192
Dupe of #137

[2016-01-01 09:09] #192 closed

[2016-01-01 21:30] hadyga commented on #114
I have the same problem openwapp worked for 5min after installing it and it became offline

[2016-01-02 14:52] Timmaks commented on #137
commit b69bbf8 remove openwapp from the sign-up label

[2016-01-03 06:02] FabianOvrWrt commented on #17
Is this no longer on development?
May I take this issue and work on everything again from scratch?
I have found that some of the changes don't look correctly on older versions of Firefox OS, so I want to make the app work on them while updating the UX.

[2016-01-03 08:26] Timmaks commented on #17
You are more the welcome to work in this!

[2016-01-03 20:36] bidaian commented on #137
Just a word of advice, for those translating in transifex. In order to see the context when translating pluralized strings, you have to choose the tab Details and read the key. Then you will be able to see if you're translating [zero], [one], [two], [few], [many] or [other].

[2016-01-03 21:08] bidaian commented on #137
In order to solve the first point I see three solutions:

* add the [list of countries](https://raw.githubusercontent.com/mozillahispano/openwapp/master/app/scripts/countries.json) (224) as a translatable resource to each locale and let each team translate it. An additional lookup will be needed in the script. Translation is probably already done, for example it is [here for eo](https://hg.mozilla

[2016-01-03 22:07] bidaian commented on #137
Actually, it is trickier. Countries with many official languages and the like. So I prepared a pull request adding the country names as a localizable resource.

[2016-01-09 12:38] #161 closed

[2016-01-09 13:04] willyaranda commented on #190
Hi,

not, I don't think it's a feasible option. Just because we need two different apps, which will need two different zips. What would happen if the user using 1.3 changes to 2.6+ and has now native emoji? Should we warn them to uninstall its current app (with conversations and preferences) and then install a new one? (without conversations?)

Maybe checking if the user is on 2.6 and has emoji su

[2016-01-09 13:09] willyaranda commented on #178
I think this is because of the encryption protocol. Not feasible anytime soon.

[2016-01-09 13:10] willyaranda commented on #173
Mmmm… that should work as we listen for the `online` event in navigator. If the device comes offline and then online, we should connect correctly. Let me check that.

[2016-01-09 13:17] willyaranda commented on #72
@telefrancisco will release a new version with some changes in the next few days

[2016-01-09 13:18] willyaranda commented on #17
@FabianOvrWrt hi! as @Timmaks say, please! work on this! :) We would like a change in the UI of Openwapp. It feels so 2013 :)

[2016-01-09 13:19] telefrancisco commented on #72
@willyaranda Thanks.

[2016-01-12 09:23] MartinSauer commented on #173
I have an Open C with latest Aurora. In standby mode WLAN is shut down.
For example: When I activate the mobile and write a new WA-message the
refresh-symbol appears. So I have to quit Openwapp and start it again
and tip the refresh-button to send the message. Often in such a case
many messages come in. So I assume that in standby-mode these messages
couldn´t be received although mobile internet i

[2016-01-16 10:07] EdoPut opened #195 "Marketplace version does not work on 2.0"
The phone is the Alcatel Onetouch [Fire E][fire_e] updated to the latest version available by producer (2.0) and the app is the 1.9.4 from the marketplace.

The app installs and is recognised by the OS but shows a white screen when opened and I can't register.

Phone info:
Os version 2.0.0.0
firmware revision 01010b
platform version 32.0
language en-US

![the app loads](https://cloud.githubusercon

[2016-01-16 10:11] Timmaks commented on #195
Can you use webide in firefox to fetch to log  and paste it to here?

[2016-01-16 11:00] Timmaks commented on #195
it looks like your phone is set to en-US language is that right?

[2016-01-16 11:06] EdoPut commented on #195
the language is en-US, the log is WIP

[2016-01-16 11:12] Timmaks commented on #195
ok thanks, see https://developer.mozilla.org/en-US/docs/Tools/WebIDE/Running_and_debugging_apps#Unrestricted_app_debugging_%28including_certified_apps_main_process_etc.%29 for setting webide to see all the installed apps

[2016-01-22 22:40] Birnd opened #196 "Wapp update/App cant connect to Service"
If u start the Apps it loads up the Contacts and last Messages with "offline" in the corner, when connected to the Internet it swaps to "Enter Sms Code", which doesnt work.

[2016-01-23 08:30] jambolo1970 commented on #196
me too, require new code, and the request says outdated version

[2016-01-23 11:25] Nordfriese57 commented on #196
It's the same in the german version. It's the same in Loqui IM.

[2016-01-23 12:23] willyaranda commented on #196
Will work on this during the weekend.

[2016-01-23 12:47] cmeerw commented on #196
@willyaranda any ideas what to do?

I believe the options are: update the version sent in the resource string to something like 2.13.30, but this will switch on encryption for group messages which we can't handle. Other option is to use an "invalid" or empty resource string when connecting, but this could increase the likelihood of getting blocked completely...

[2016-01-23 14:40] TheElber7 commented on #196
Boa tarde, tenho um aparelho LG D300 Fireweb e ontem quando entrei no OpenWapp pediu um novo codigo, desinstalei e instalei denovo, digitei o código recebido e apareceu uma mensagem: "Versão Antiga. Por Favor Contate equipe de desenvolvimento." Fui no Market Place não achei nenhuma atualização nova. Espero que resolvam meu problema. Grato pela Atenção.

[2016-01-23 15:05] rodrigoasmacedo commented on #196
Buenas tardes, tengo un dispositivo de LG D300 Fireweb y ayer cuando entré en la OpenWapp solicitó una nueva contraseña, desinstalado e instalado de nuevo, tecleó el código recibido y apareció un mensaje: "vieja versión comuníquese con el equipo de desarrollo .." Yo estaba en el Market Place encontró ninguna nueva actualización. Espero que resolver mi problema. Agradecido por la atención.

[2016-01-23 15:34] Boersenfeger commented on #196
Todos los usuarios se ven afectados.
Tenemos que esperar hasta que los desarrolladores han encontrado una solución.
Otras aplicaciones para WhatsApp tampoco funcionan.

[2016-01-23 19:30] willyaranda commented on #196
@cmeerw have you tried something to fix this issue?

[2016-01-23 19:41] cmeerw commented on #196
@willyaranda the proper fix would be to implement encryption support which is not realistic any time soon. Just updating the version in the tokenData will break group conversations as these will then be encrypted (and the "plaintext-only" workaround doesn't work for group conversations). So the only remaining option I am seeing so far is to use an empty string for tokenData.r - this seems to work

[2016-01-23 20:20] #72 closed

[2016-01-23 22:07] willyaranda commented on #196
I just pushed a new CoSeMe version, 1.1.4 that fixes registration problem. I just tested and it works!

https://github.com/mozillahispano/coseme/commit/0ecb487c67443f3786d876bd1a39214ae51f0bef

I have sent a new version to the marketplace and is awaiting review!

[2016-01-23 22:07] #196 closed

[2016-01-23 22:15] cmeerw commented on #196
That "fix" will break group conversations (as most group messages will be received encrypted and therefore lost).

[2016-01-23 22:21] willyaranda commented on #196
I have tested with a few groups (with latest android on the marketplace) and they are showing correctly. Did I miss something @cmeerw?

[2016-01-23 22:37] cmeerw commented on #196
Loqui used to use a version >2.13.9 for a brief period at the end of November - if you look at the properties you get from the WhatsApp server you will now see 'prop name="e2e_groups" value="1"' and some group messages might arrived encrypted (for me it was around 50% - I don't know why it was only about half)...
BTW, it was very unpredictable - the same user writing in 2 different groups: message

[2016-01-24 08:19] MartinSauer opened #197 "Code required - version too old"
On 22nd Jnauary OpenWAPP suddenly announced me to type in my registration code which I didn´t request. After trying to make a new request for the code, openwapp told me that my version might be too old. But I have the newest available version 1.9.4.
(Latest aurora on Open C ebay)
Kind regards, Martin

[2016-01-24 08:25] Timmaks commented on #197
There is a new version 1.9.5 aviable in the marketplace who fixes this problem

[2016-01-24 08:25] #197 closed

[2016-01-24 12:57] JordanSBen opened #198 "Black Screen After Opening"
When I run Openwapp on my mobile(Zen 105 Fire), it shows a black screen.

Please help!!!!!
Thanks

[2016-01-24 15:42] cmeerw commented on #196
Ahh ok, 2.13.21 actually does still work (I thought anything higher than 2.13.9 would already cause these issues), anything higher than that will not work for group messages.

[2016-01-26 09:56] Timmaks commented on #198
try updating to the new version on marketplace

[2016-01-26 13:39] sagardahale commented on #198
@timmaks I updated openwapp in new version.but still i am fetching trouble

[2016-01-26 13:54] Timmaks commented on #198
Do you knoe how to use webIDE of firefox. If yes can you post a copy of the log here?

[2016-01-26 14:04] sagardahale commented on #198
I dont know how to use webIDE..can you tell me how to use it?

[2016-01-26 14:14] Timmaks commented on #198
See https://developer.mozilla.org/nl/docs/Tools/WebIDE

[2016-01-26 14:23] sagardahale commented on #198
Ok..got it...what is next step?

[2016-01-26 15:08] Timmaks commented on #198
Connect your phone to webide and  start openwapp via webide and copy the log (clck the tool icon to see the log)

[2016-01-27 13:22] sagardahale commented on #198
Then? Next?

[2016-01-27 14:21] Timmaks commented on #198
Copy the log here so we can have look at it

[2016-01-27 15:56] tomkemper commented on #173
Hi folks. ...is that issue fixed....i has similar problems....cannot usw openwapp until it's fixed..although i'd loved to use it instead of loquiIM....

[2016-01-28 18:20] Timmaks commented on #195
Is this still a issue with the latest update?

[2016-02-02 02:15] TheElber7 opened #199 "Código de acesso"
Tenho um lg fireweb d300 estava usando o openwapp normalmente até q pediu um novo codigo, quando confirmo o numero rapidamente abre e fecha uma janela de erro, da qual eu não consegui ler direito mas parecia estar escrito "fail" "status" "blocked". Tentem resolver por favor, o OpenWapp é muito util.

[2016-02-09 19:20] naitsirch commented on #199
If you'd write in English the chance to get an answer would be greater ;-)

[2016-02-16 19:25] B4iken commented on #124
Hello, I just got a WhatsApp account and started using OpenWapp with friends (they are using WhatsApp original) and I didn't receive some messages.

[2016-02-18 23:37] jopigithub opened #201 "Registration not working"
I was using the app normally and it suddenly jumped to the registration screen. I was not able to complete registration using the sms code (PIN invalid) nor registering with other telephone number (Error: {"status": "fail", "reason": "blocked"}).

[2016-02-22 16:13] Timmaks commented on #201
Witch version do you use, is it the latest version?
Reason "blocked"is something we can not change, whatsapp did block your account but i want to know what is the reason that they blocked you (and not all the openwapp users)

[2016-02-22 16:14] Timmaks commented on #198
do you have a log?

[2016-02-22 16:15] Timmaks commented on #195
no comment in last 25 days so closing. If this is still a issue please reopen

[2016-02-22 16:15] #195 closed

[2016-02-22 19:01] Timmaks commented on #191
I can not reproduce this issue om a flame, do you still have it with the lastest version of openwapp

[2016-02-22 21:12] jopigithub commented on #201
Yes, I have the latest version (1.9.5) . I thought the problem was like the one recently fixed with last update (January 23), didn't know it was not reaching other users.

[2016-02-23 01:21] wbrawner opened #202 "No License?"
Hello, I would like to port OpenWapp to the Ubuntu touch OS because they still have nothing for WhatsApp users, but I noticed that you have no license listed here in the repository. Under which license is OpenWapp released?

[2016-02-23 15:17] willyaranda commented on #202
CoSeMe, which is the underlying protocol to connect to WA, is Mozilla Public License, version 2.0.
There is no license decided yet for OpenWapp.
I think it should be the same but… @Timmaks @cmeerw @duesenfranz do you have any objections about this?

[2016-02-23 15:26] cmeerw commented on #202
TERMS.txt actually states: All the code is Licensed under the Apache
License, Version 2.0 (the "License");

[2016-02-23 15:45] duesenfranz commented on #202
@willyaranda I would be ok with pretty much every license including GPL, MIT, MPL, Apache...! :)

btw sorry for not helping anymore, but my phone broke some time ago and the motivation for working on something you don't use tends to get really low.. ;)

[2016-02-23 18:02] willyaranda commented on #202
@cmeerw that's good to know :)

I'm not an expert about licenses and I don't want to study them. Should we keep Apache and also change CoSeMe?

@duesenfranz don't worry, in fact, with the future of Firefox OS, I don't know what to do with this

[2016-02-23 18:41] wbrawner commented on #202
Thank you all for your quick responses! I'll read the license to make sure I don't cross any boundaries then.

@willyaranda I'd like to recommend Ubuntu Touch, as it's the biggest alternative to Android/iOS now, and it's also open source. They've been without a WhatsApp client this whole time, and many people would greatly appreciate one, myself included.

[2016-02-24 13:24] willyaranda commented on #202
You are free to port this to Ubuntu Touch. I don't know if it should be another repository, or we can use this.

[2016-02-24 14:19] Timmaks commented on #202
i would suggest to use this repository if possible.

@willyaranda no matter what happening with firefoxos (community or end of life) we still need to serve the users who are using it, don't let them down and fix the issues reported so they still can use it.

[2016-03-02 14:22] chocoelho opened #203 "Not saving audio received through OpenWapp"
I'm able to save images sent to me, but when it comes to audio content I click on save button and it suddenly comes back to OpenWapp, closing Music app and thus not saving what I want to.

[2016-03-07 15:58] mduemke opened #204 "registration error"
Hello there,

I installed the newest version 1.9.5 on Firefox 2.0

but on registration there is the message that an upgrade is needed
and the registration process fails.

[2016-03-08 16:01] chocoelho commented on #204
Same here, but on Firefox 2.6.

[2016-03-16 06:37] aticat opened #205 "Vermutlich alte Version aktualisieren Sie die App oder kontaktieren Sie Openwapp Entwickler"
Error for registration, please fix an update. CG

[2016-03-23 09:40] Timmaks commented on #204
suddenly i had the same error,  any change on a fix @willyaranda

[2016-03-23 09:41] Timmaks commented on #205
dupe of #204

[2016-03-23 09:41] #205 closed

[2016-03-23 21:14] Birnd commented on #204
App doesnt work anymore, when started the Registration Screen pops up even though ive been using it already.

[2016-03-24 05:14] brendafogam6 commented on #201
No I have the old version and I can't register into the new want help pls

[2016-03-24 05:23] brendafogam6 commented on #201
I try to redgister with my number, but there keep on telling me to contact openwapp devs which I did. Why is this whatsapp so difficult

[2016-03-24 06:22] aticat commented on #204
What are the plans for solving this problem?

[2016-03-24 06:26] aticat commented on #205
Hi,
 
what are the plans to solve this from?
 
Chirine
 
-----Ursprüngliche Nachricht-----
 Von: "T.M. van den Broek" [notifications@github.com]
 Gesendet: Mi. 23.03.2016 10:41
 An: "mozillahispano/openwapp" [openwapp@noreply.github.com]
 Kopie: "aticat" [chirinegramke@freenet.de]
 Betreff: Re: [openwapp] Vermutlich alte Version aktualisieren Sie die App oder kontaktieren Sie Openwapp Entwickler (

[2016-03-24 07:54] Timmaks commented on #201
It is whatsapp itself who is difficult, they change there version code once i  a while and block all the cients with a dirrent code. We can only react by follow that change, but that takes time because we need to check if everything is still compatible.

You are all welcome to help to fix this as soon as possible.

[2016-03-24 08:27] Timmaks commented on #201
there are 2 issue here reported, blocked and old version.

the old version issue where a i talked about in my last comment and see issue #204

the blocked issue is something we can not fix

[2016-03-24 08:27] #201 closed

[2016-03-24 08:31] Timmaks commented on #199
i can only read "fail" "status" "blocked". this is somethinmg we can not fix.

you are blocked by whattsapp for some reason (using a other client (not the official one) can be the  reason) i am sorry.

try again in some days, sometimes it get fixed

[2016-03-24 08:31] #199 closed

[2016-03-24 12:17] willyaranda commented on #204
Work should be done in https://github.com/mozillahispano/coseme, not here.

[2016-03-24 12:18] willyaranda commented on #204
Keeping this open to keep the track here, so people don't drive mad.

[2016-03-25 12:28] jssCAT opened #206 "OpenWapp doesn't work"
Hello,

From the last 2-3 days, I’m having problems with OpenWapp. I think that the last update of Whatsapp is causing problems to OpenWapp. It asks me for a PIN to sign-up. Somebody has the same problem? My smartphone is an Alcatel One Touch Fire E and the version of Firefox OS is 2.0.

Thanks.

[2016-03-25 13:29] kotimohan commented on #151
Hi,

I was a happy user of OpenWapp. Suddenly it stopped, tried almost every thing but won't open then I uninstalled it.

I'm trying to register, I type my phone number. And during the phone validation process, it's stopped, and I have a pop up which says "Old version, please contact OpenWapp devs".

I don't know how to find the number of version I used. I'm on the Alcatel Fire C Onetouch FireC 40

[2016-03-25 13:30] kotimohan opened #207 "Unable to instal OpenWapp in Alcatel Fire C Onetouch FireC 4020D mobile"
#Hi,

I was a happy user of OpenWapp. Suddenly it stopped, tried almost every thing but won't open then I uninstalled it.

I'm trying to register, I type my phone number. And during the phone validation process, it's stopped, and I have a pop up which says "Old version, please contact OpenWapp devs".

I don't know how to find the number of version I used. I'm on the Alcatel Fire C Onetouch FireC 4

[2016-03-25 18:39] Loirooriol commented on #206
Same problem on Firefox 2.2 Simulator

[2016-03-26 08:15] Timmaks commented on #206
Dupe #204

[2016-03-26 08:15] #206 closed

[2016-03-26 08:15] Timmaks commented on #207
Dupe #204

[2016-03-26 08:15] #207 closed

[2016-03-26 10:38] boi2melo commented on #207
I'm using Alcatel Firefox OS.I have been Trying to register openWapp and evertime during the phone validation a receive a message saying old version please contact openWapp devs. I need help to register and activate openWapp

[2016-03-26 11:26] Timmaks commented on #207
We need to update the app for this. We are working on it

[2016-03-26 12:31] djoerd opened #208 "Old version: Contact the OpenWapp developers"
I am running version 1.9.5 from 23 January from Firefox Martketplace. I get the  error "Old version: Contact the OpenWapp developers", see: https://twitter.com/djoerd/status/713048606270472193 (in Dutch)

[2016-03-26 13:57] Timmaks commented on #208
Dupe #204

Er wordt aan gewerkt en hopelijk is er snel weer een nieuwe versie in de marketplace

[2016-03-26 14:25] djoerd commented on #208
Woeps, ik dacht dat #204 iets ouds was: Fijn, bedankt!

[2016-03-27 20:27] ngoymwembo commented on #151
Hi really forgot my code to sing in

[2016-03-27 20:30] ngoymwembo commented on #208
My code  for my number I forgot how can get it

[2016-03-27 20:32] ngoymwembo commented on #208
Plz help me guys

[2016-03-28 08:17] Timmaks commented on #208
after we have updated the app you will need to enter youtr mobile number again an pres request code, it will work again

[2016-03-28 08:17] #208 closed

[2016-03-28 09:04] kotimohan commented on #151
Hi Timmaks, Thank you for response but, you given some instruction those are not performed in my alcatel one touch mobile . can you respond quickly plz...

Regards,
Mohan.

[2016-03-28 14:56] Tschegewara opened #209 "Registration Error"
I'm using a Flame-Smartphone with Firefox-OS 2.6 on it. When starting the registration process, I get the following Message after I fill in my phone-number:
german: Sie scheinen eine alte Version zu benutzen. Bitte aktualisieren Sie die App oder kontaktieren Sie die Openwapp Entwickler.
In English: It seems that you are using an old version. Please update the App or contact the Openwapp-Developers

[2016-03-28 15:55] Timmaks commented on #209
we are working on it, see #204

dupe

[2016-03-28 15:55] #209 closed

[2016-03-29 10:38] Keleitse commented on #204
Have been some days now without accessing openwapp, old version pops up

[2016-03-29 19:13] jyobairo opened #210 "Version antigua Old Version"
displays an " older version " when I register my phone number

please help me

[2016-03-30 07:02] willyaranda commented on #210
#204

[2016-03-30 07:02] #210 closed

[2016-03-30 11:53] Vincent57200 commented on #204
Same problem 'old version'
i made no change. Ffos v. 1.3
please solve the problem.

[2016-04-01 08:57] Timmaks commented on #204
@willyaranda how is it going?

[2016-04-05 13:41] djoerd commented on #204
Hi @willyaranda, we love openwapp and firefox os, any chance that the app will be up again?

[2016-04-13 14:57] Omega246 commented on #204
I hope its not rude or annoying, but may i ask for some information regarding the update?

Is it dead? Or is it just more labourintensive this time?

I ask, because i love this programm and if i can help you(with no programming-skills) in any way, just ask.

Thank you very much.

[2016-04-13 15:21] aticat commented on #204
Sorry, I can't say anything about this subjet because I was only a sad
user of openwapp.
Since nearly one month it didn't work anymore on by both Firefox Alcatel
E and there is no new version at the Marketplace.
What a pity!

Am 13.04.2016 um 16:57 schrieb Omega246:

[2016-04-13 15:34] aticat commented on #204
Sorry, I can't say anything about this subjet because I was only a sad user  of openwapp.
 Since nearly one month it didn't work anymore on by both Firefox Alcatel E and there is no new version  at the Marketplace.
 What a pity!
 
-----Ursprüngliche Nachricht-----
 Von: "Omega246" [notifications@github.com]
 Gesendet: Mi. 13.04.2016 16:57
 An: "mozillahispano/openwapp" [openwapp@noreply.github.com

[2016-04-15 09:52] Zeus76 opened #211 "Openwapp not appear in the marketplace."
Hello:

I have entered the marketplace and not the Openwapp application appears.
Does the application site is permanently deleted or an error?

Thank you!

[2016-04-15 17:53] Loirooriol commented on #211
The link was https://marketplace.firefox.com/app/openwapp/. Now it says

[2016-04-19 10:34] willyaranda commented on #211
I removed the app from being public as it does not work anymore.

I need to do a update saying that users should migrate to Loqui, as it works with new e2e encryption for Whatsapp.

Thanks for all guys

[2016-04-19 10:34] #211 closed

[2016-04-19 10:35] willyaranda commented on #204
Openwapp will not have any updates sometime soon. If you need to use Whatsapp on Firefox OS, please search for LoquiIM on the marketplace.

[2016-04-19 10:35] #204 closed

[2016-04-19 12:42] aticat commented on #204
THANKS FOR YOUR ANSWER!

Am 19.04.2016 um 12:36 schrieb Guillermo López Leal:

[2017-04-23 20:16] #5 closed

[2019-03-30 17:39] ghost opened #212 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-28 00:54] ghost commented on #124
As OpenWapp has been discontinued, closing that issue.

[2019-04-28 00:54] #124 closed